.cd-user-list { clear: both; overflow: hidden; }
.cd-user-list li { clear: left; overflow: hidden; border-bottom: 1px solid var(--cd-blue-grey); }
.cd-user-list li:last-child,
.cd-user-list li:only-of-type { border-bottom: 0; }
.cd-user-list__image { overflow: hidden; }
.cd-user-list__image img { width: 100%; }
.cd-user-list__name { font-size: 1rem; }
.cd-user-list__position { font-size: 0.875rem; }
.cd-user-list__organization { color: #3c4485; font-size: 0.875rem; }
.cd-user-list__has-image .cd-user-list__city,
.cd-user-list__has-image .cd-user-list__name,
.cd-user-list__has-image .cd-user-list__organization,
.cd-user-list__has-image .cd-user-list__position { padding-left: 7rem; }
