.group--view-mode-full .field--label-inline,
.node--view-mode-full .field--label-inline {
  overflow: hidden;
}

.field--name-field-ai-title {
  margin-bottom: 1rem;
  font-weight: bold;
}

.field--name-field-content .field--type-viewsreference {
  margin-bottom: 2rem !important;
}

/* WYSIWYG body field on nodes. */
.field--name-field-description {
  margin-bottom: 2rem;
}
.cd-layout__content .field--type-text-with-summary {
  margin-bottom: 2rem;
}
.cd-layout__content > .field {
  margin-bottom: 1rem;
}
.group--view-mode-search-result .field--name-field-description {
  margin-bottom: 0;
}

.field--name-field-meeting-notes,
.field--name-field-meeting-agendas,
.field--name-field-oa-section,
.field--name-field-iasc-audience,
.field--name-field-membership,
.field--name-group-content-access,
.field--name-field-ap-responsibility,
.field--name-field-host,
.field--name-field-info-private,
.field--name-field-oa-media,
.field--name-field-main-image,
.field--name-field-media-files {
  margin-bottom: 2rem !important;
}

.field--name-field-meeting-notes .field__item,
.field--name-field-meeting-agendas .field__item,
.field--name-field-oa-section .field__item,
.field--name-field-iasc-audience .field__item,
.field--name-field-membership .field__item,
.field--name-group-content-access .field__item,
.field--name-field-ap-responsibility .field__item,
.field--name-field-host .field__item,
.field--name-field-info-private .field__item,
.field--name-field-oa-media .field__item,
.field--name-field-main-image .field__item,
.field--name-field-media-files .field__item,
.field--name-field-contact {
  margin-bottom: 1rem;
}

.cd-layout__sidebar .cd-location,
.cd-layout__sidebar .field--name-field-meeting-notes,
.cd-layout__sidebar .field--name-field-meeting-agendas,
.cd-layout__sidebar .field--name-field-oa-section,
.cd-layout__sidebar .field--name-field-iasc-audience,
.cd-layout__sidebar .field--name-field-links,
.cd-layout__sidebar .field--name-field-membership,
.cd-layout__sidebar .field--name-field-date-closed,
.cd-layout__sidebar .field--name-field-external-link,
.cd-layout__sidebar .field--name-group-content-access,
.cd-layout__sidebar .field--name-field-ap-responsibility,
.cd-layout__sidebar .field--name-field-referenced-docs,
.cd-layout__sidebar .field--name-field-host,
.cd-layout__sidebar .field--name-field-category {
  margin-bottom: 2rem !important;
}

/* Margin resets because nested fields are hard. */
.node--view-mode-bio-long .field--name-field-organisation,
.node--view-mode-bio-short .field--name-field-organisation {
  margin-bottom: 0 !important;
}

/* Margin resets because nested fields are hard. */
.node--view-mode-bio-long .field,
.node--view-mode-bio-short .field,
.node--type-contact .field--name-field-organisation,
.node--type-contact .field--name-field-position,
.node--type-contact .field--name-field-email {
  margin-bottom: 0;
}

.cd-layout__sidebar > .cd-sidebar {
  margin-bottom: 1rem !important;
}

.field--name-field-iasc-group-space {
  margin-top: 2rem;
}

.field--name-field-referenced-docs > .field__label {
  margin-bottom: 0;
}

.field--name-field-group-banner,
.field--name-field-banner-image .field__item,
.node--view-mode-full .field--name-field-published-date {
  margin-bottom: 1rem;
}

/* Banner caption. */
.field--name-field-banner-text,
.field--name-field-oa-banner-text {
  margin-top: -1rem; /* assumes banner_image field has bottom margin. */
  text-align: right;
  font-size: 0.9rem;
  font-style: italic;
}

/* AAP Services fields with cd-bullet-list styles */
.field--name-field-service-coverage-region ul,
.field--name-field-kind-of-data ul,
.field--name-field-relevant-hpc-stage ul,
.field--name-field-services ul,
.field--name-field-interest ul,
.field--name-field-links-to-relevant-docs ul,
.field--name-field-iasc-group-space ul,
.field--name-field-referenced-docs ul,
.field--name-field-links ul,
.field--name-field-service-coverage-country ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.field--name-field-service-coverage-region ul li,
.field--name-field-kind-of-data ul li,
.field--name-field-relevant-hpc-stage ul li,
.field--name-field-services ul li,
.field--name-field-interest ul li,
.field--name-field-links-to-relevant-docs ul li,
.field--name-field-iasc-group-space ul li,
.field--name-field-referenced-docs ul li,
.field--name-field-links ul li,
.field--name-field-service-coverage-country ul li {
  margin-top: 0 !important;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  background-image: url("../../img/icons/list-bullet.svg");
  background-repeat: no-repeat;
  background-position: top 7px left 0;
  background-size: 9px 9px;
}

/* AAP Services fields in sidebar */
.cd-layout__sidebar .field--name-field-updated,
.cd-layout__sidebar .field--name-field-agency-initiative-or-group,
.cd-layout__sidebar .field--name-field-type-of-entity,
.cd-layout__sidebar .field--name-field-focal-point,
.cd-layout__sidebar .field--name-field-featured-categories {
  margin-bottom: 2rem;
}

/* This emulates the cd-bullet-list component using CSS bg image instead of SVG element in markup.
When a ul element is added to the text area field. */
.field--name-field-examples-and-case-studies .field__item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.field--name-field-examples-and-case-studies .field__item ul li {
  position: relative;
  display: block;
  margin-bottom: 1rem;
}

.field--name-field-examples-and-case-studies .field__item ul li::before {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-right: 1rem;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%5C %3Cpath fill='%23ff4d59' d='M14,48a4,4,0,0,1-2.83-6.83L28.34,24,11.17,6.83a4,4,0,0,1,5.66-5.66l20,20a4,4,0,0,1,0,5.66l-20,20A4,4,0,0,1,14,48Z'/%3E%5C %3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* This emulates the cd-bullet-list component without being able to output as a ul. */
.field--name-field-meeting-notes > .field__items > .field__item,
.field--name-field-meeting-agendas > .field__items > .field__item {
  padding-bottom: 1rem;
}

aside .field--name-field-meeting-agendas > .field__items > .field__item {
  padding-bottom: 0;
}

aside .field--name-field-meeting-agendas .field__items .field__item .field--name-field-published-date .field__item {
  margin-bottom: 0;
}

.field--name-field-meeting-notes svg,
.field--name-field-meeting-agendas svg {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-right: 1rem;
  fill: var(--brand-highlight);
}

.field__item p:first-child {
  margin-top: 0;
}

/* Classy field.css styles. */
.field__label {
  font-weight: bold;
}

.field--label-inline .field__label,
.field--label-inline .field__items {
  float: left; /* LTR */
}

.field--label-inline .field__label,
.field--label-inline > .field__item,
.field--label-inline .field__items {
  padding-right: 0.5em;
}

[dir="rtl"] .field--label-inline .field__label,
[dir="rtl"] .field--label-inline .field__items {
  padding-right: 0;
  padding-left: 0.5em;
}

.field--label-inline .field__label::after {
  content: ":";
}

.field--name-field-summary-of-recommendat,
.field--name-field-description-implementation,
.field--name-body.field--type-text-with-summary {
  max-width: var(--cd-max-content-width);
}

.field--name-field-email a {
  word-break: break-word;
}
