.operations.form-actions {
  margin: 4rem 0;
}

.operations.form-actions input[type="submit"] {
  display: block;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
.operations.form-actions input[type="submit"] {
    max-width: 16rem;
  }
}

/* Restrict width so it match the body text field on AAP landing page */
.paragraph--type--services-landing-block {
  max-width: var(--cd-max-content-width);
}
