.node__read-more {
  text-align: right;
}

.node__read-more a {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}

.node__read-more a:hover,
.node__read-more a:focus {
  text-decoration: underline;
}

.node__read-more svg {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 1rem;
  fill: var(--brand-highlight);
}

.field--name-field-header .block,
.field--name-field-header .field--type-viewsreference {
  margin-bottom: 3rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--cd-blue-grey);
}

.field--name-field-header h2,
.field--name-field-header .field--type-viewsreference .viewsreference--view-title {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  /* color: var(--brand-primary);
  border-bottom: 3px solid var(--cd-blue-grey);
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0; */
  text-align: center;
}

.field--name-field-header .paragraph {
  margin-bottom: 2rem;
}

.field--name-field-header .paragraph.paragraph--type--hero {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  body:not(.path-frontpage) .paragraph.paragraph--type--hero {
    margin-bottom: 3rem;
  }
}

.field--name-field-sidebar .paragraph--type--contact-list,
.field--name-field-content .paragraph--type--contact-list,
.field--name-field-footer .paragraph--type--contact-list {
  margin-bottom: 2rem;
}

.path-frontpage .cd-layout-sidebar-first .viewsreference--view-title {
  margin-top: 1rem;
}

.node__meta {
  margin-bottom: 2rem;
}

.align-left {
  margin-right: 1rem;
}

.align-right {
  margin-left: 1rem;
}

/* Contact block on Service node.*/
.field--name-field-global-focal-point {
  background: var(--cd-blue-grey--light);
}

.node--view-mode-no-title {
  margin-bottom: 2rem;
}

/* Services node type. */
.node--type-service.node--view-mode-full .cd-layout-main-content > .field,
.node--type-service.node--view-mode-teaser .node__content > .field {
  margin-bottom: 2rem;
}

.node--type-service.node--view-mode-full .cd-layout-main-content > .field .field__label,
.node--type-service.node--view-mode-teaser .node__content > .field .field__label {
  margin-bottom: 0.5rem;
}

.node--type-service.node--view-mode-full .cd-layout-sidebar-first textarea {
  width: 100%;
}
