.paragraph--type--hero .field,
.paragraph--type--teaser-item .field,
.paragraph--type--teaser-grid .field,
.paragraph--type--list-item .field,
.paragraph--type--list .field,
.paragraph--type--view .field,
.paragraph--type--twitter .field {
	margin-bottom: 0;
}

.paragraph--type--section-menu {
	margin-bottom: 2rem;
}

.paragraph--type--paragraph-content,
.paragraph--type--paragraph-text {
	clear: both;
	margin-bottom: 2rem;
}

.paragraph--type--paragraph-content .field--name-field-teaser-image,
.paragraph--type--paragraph-text .field--name-field-teaser-image {
	max-width: 300px;
	margin-bottom: 1rem;
}

.paragraph--type--paragraph-content h2,
.paragraph--type--paragraph-content h3,
.paragraph--type--paragraph-content p,
.paragraph--type--paragraph-text h2,
.paragraph--type--paragraph-text h3,
.paragraph--type--paragraph-text p {
	margin-top: 0;
}

.paragraph--type--paragraph-content ul,
.paragraph--type--paragraph-text ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.paragraph--type--paragraph-content ul li,
.paragraph--type--paragraph-text ul li {
	padding-bottom: 1rem;
	padding-left: 1.5rem;
	background-image: url("../../img/icons/list-bullet.svg");
	background-repeat: no-repeat;
	background-position: top 7px left 0;
	background-size: 9px 9px;
}

.paragraph--type--paragraph-content.paragraph__image--align-left .field--name-field-paragraph-text p:last-child,
.paragraph--type--paragraph-content.paragraph__image--align-left .field--name-field-paragraph-text p:only-of-type,
.paragraph--type--paragraph-text.paragraph__image--align-left .field--name-field-paragraph-text p:last-child,
.paragraph--type--paragraph-text.paragraph__image--align-left .field--name-field-paragraph-text p:only-of-type {
	margin-bottom: 0;
}

@media (min-width: 768px) {
	.paragraph--type--paragraph-content.paragraph__image--align-left .field--name-field-teaser-image,
	.paragraph--type--paragraph-text.paragraph__image--align-left .field--name-field-teaser-image {
		margin-right: 2rem;
	}
}

.paragraph--type--paragraph-content.paragraph__image--align-right,
.paragraph--type--paragraph-text.paragraph__image--align-right {
	text-align: left;
}

@media (min-width: 768px) {
	.paragraph--type--paragraph-content.paragraph__image--align-right .field--name-field-paragraph-text,
	.paragraph--type--paragraph-text.paragraph__image--align-right .field--name-field-paragraph-text {
		margin-right: 2rem;
	}
}

.paragraph--type--paragraph-content.paragraph__image--align-right .field--name-field-teaser-image,
.paragraph--type--paragraph-text.paragraph__image--align-right .field--name-field-teaser-image {
	order: 2;
}

.paragraph--type--paragraph-content,
.paragraph--type--paragraph-text {
	display: flex;
	flex-wrap: wrap;
}

.paragraph--type--paragraph-content .field--name-field-para-title,
.paragraph--type--paragraph-text .field--name-field-para-title {
	flex: 1 0 100%;
}

.paragraph--type--paragraph-content.paragraph__image--align-left .field--name-field-paragraph-text,
.paragraph--type--paragraph-content.paragraph__image--align-right .field--name-field-paragraph-text,
.paragraph--type--paragraph-text.paragraph__image--align-left .field--name-field-paragraph-text,
.paragraph--type--paragraph-text.paragraph__image--align-right .field--name-field-paragraph-text {
	order: 2;
}

@media (min-width: 768px) {
	.paragraph--type--paragraph-content.paragraph__image--align-left .field--name-field-paragraph-text,
	.paragraph--type--paragraph-content.paragraph__image--align-right .field--name-field-paragraph-text,
	.paragraph--type--paragraph-text.paragraph__image--align-left .field--name-field-paragraph-text,
	.paragraph--type--paragraph-text.paragraph__image--align-right .field--name-field-paragraph-text {
		flex: 1 0 300px;
	}
}

.paragraph--type--paragraph-content.paragraph__image--align-left .field--name-field-teaser-image,
.paragraph--type--paragraph-content.paragraph__image--align-right .field--name-field-teaser-image,
.paragraph--type--paragraph-text.paragraph__image--align-left .field--name-field-teaser-image,
.paragraph--type--paragraph-text.paragraph__image--align-right .field--name-field-teaser-image {
	order: 1;
}

@media (min-width: 768px) {
	.paragraph--type--paragraph-content.paragraph__image--align-left .field--name-field-teaser-image,
	.paragraph--type--paragraph-content.paragraph__image--align-right .field--name-field-teaser-image,
	.paragraph--type--paragraph-text.paragraph__image--align-left .field--name-field-teaser-image,
	.paragraph--type--paragraph-text.paragraph__image--align-right .field--name-field-teaser-image {
		flex: 0 1 300px;
	}
}

.paragraph--type--teaser-item h3 {
	margin: 0.5rem 0;
	font-size: 1.125rem;
	line-height: 1.2;
}

.paragraph--type--teaser-item h3 a {
	display: block;
	font-weight: 600;
}

.paragraph--type--teaser-item h3 a:hover,
.paragraph--type--teaser-item h3 a:focus {
	text-decoration: underline;
}

.cd-layout-main-content .paragraph--type--section-menu>.cd-sidebar__label,
.cd-layout-main-content .paragraph--type--twitter>.cd-sidebar__label,
.cd-layout-main-content .paragraph--type--reliefweb-feed>h2,
.cd-layout-main-content .paragraph--type--list>h2,
.cd-layout-main-content .paragraph--type--teaser-grid>h2,
.cd-layout-main-content .paragraph--type--paragraph-content>.field--name-field-para-title,
.cd-layout-main-content .paragraph--type--content-item .field--name-field-para-title,
.cd-layout-main-content .paragraph--type--video .field--name-field-para-title,
.cd-layout-main-content .paragraph--type--paragraph-text .field--name-field-para-title,
.cd-layout-main-content .paragraph--type--contact-list>.field--name-field-contacts>.field__label,
.cd-layout-main-content .paragraph--type--contact-list .field--name-field-list-title {
	margin-bottom: 1rem;
	padding-bottom: 0.5rem;
	color: #272e67;
	border-bottom: 3px solid var(--cd-blue-grey);
	font-size: 1.5rem;
	font-weight: 400;
	margin-top: 0;
}

.cd-layout-sidebar-first .paragraph--type--section-menu>.cd-sidebar__label,
.cd-layout-sidebar-first .paragraph--type--twitter>.cd-sidebar__label,
.cd-layout-sidebar-first .paragraph--type--reliefweb-feed>h2,
.cd-layout-sidebar-first .paragraph--type--list>h2,
.cd-layout-sidebar-first .paragraph--type--teaser-grid>h2,
.cd-layout-sidebar-first .paragraph--type--paragraph-content>.field--name-field-para-title,
.cd-layout-sidebar-first .paragraph--type--content-item .field--name-field-para-title,
.cd-layout-sidebar-first .paragraph--type--video .field--name-field-para-title,
.cd-layout-sidebar-first .paragraph--type--paragraph-text .field--name-field-para-title,
.cd-layout-sidebar-first .paragraph--type--contact-list>.field--name-field-contacts>.field__label,
.cd-layout-sidebar-first .paragraph--type--contact-list .field--name-field-list-title {
	margin-bottom: 1rem;
	padding-bottom: 0.5rem;
	color: #272e67;
	border-bottom: 1px solid #272e67;
	font-size: 1.125rem;
	font-weight: 600;
}

.cd-layout-sidebar-first .paragraph--type--teaser-item,
.cd-layout-sidebar-first .paragraph--type--twitter,
.cd-layout-sidebar-first .paragraph--type--content-item,
.cd-layout-sidebar-first .paragraph--type--paragraph-content {
	margin-bottom: 2rem;
}

.cd-layout-sidebar-first>.field__items>.field__item {
	margin-bottom: 2rem;
}

.cd-layout-main-content>.field__items>.field__item {
	margin-bottom: 2rem;
}

.cd-layout-sidebar-first .cd-sidebar__label,
.cd-layout-sidebar-first .paragraph--type--list>h2,
.cd-layout-sidebar-first .paragraph--type--teaser-grid>h2 {
	margin-top: 0;
}

.paragraph--type--contact-list>.field--name-field-contacts>.field__items {
	padding: 1rem 0;
}

.paragraph--type--contact-list>.field--name-field-contacts>.field__items>.field__item {
	margin-bottom: 1rem;
	padding-bottom: 1rem;
}

.paragraph--type--agenda-items {
	margin-bottom: 2rem;
}

.paragraph--type--view {
	clear: both;
}

aside .paragraph--type--content-item .node--view-mode-teaser .cd-teaser__image,
aside .paragraph--type--content-item .group--view-mode-teaser .cd-teaser__image {
	max-width: 100%;
}

aside .paragraph--type--content-item .node--view-mode-teaser .field__label,
aside .paragraph--type--content-item .group--view-mode-teaser .field__label {
	margin-bottom: 0;
	padding-bottom: 0;
	color: currentColor;
	border-bottom: 1px none #272e67;
	font-size: inherit;
}

.cd-layout-sidebar-first .paragraph--type--content-item .field--name-field-category {
	margin-bottom: 1rem !important;
}

.cd-layout-sidebar-first .paragraph--type--teaser-grid .cd-grid>* {
	flex: 0 0 100%;
}

.cd-layout-sidebar-first .paragraph--type--teaser-grid .cd-grid .field--type-entity-reference-revisions .paragraph--type--teaser-item {
	padding: 0;
}

@supports (display: grid) {
	.cd-layout-sidebar-first .paragraph--type--teaser-grid .cd-grid {
		grid-template-columns: repeat(1, minmax(200px, 1fr));
	}
}

.cd-layout-sidebar-first .paragraph--type--teaser-grid .field__item:last-child .paragraph--type--teaser-item {
	margin-bottom: 0;
}

.paragraph--type--meetings-upcoming>h2,
.paragraph--type--meetings-past>h2 {
	margin-bottom: 1rem;
	padding-bottom: 0.5rem;
	color: #272e67;
	border-bottom: 3px solid var(--cd-blue-grey);
	font-size: 1.5rem;
	font-weight: 400;
}

.paragraph--type--list .cd-styled-list,
.paragraph--type--teaser-grid .cd-grid {
	padding-top: 1rem;
	border-top: 3px solid var(--cd-blue-grey);
}

/* No top border if there is a heading */
.paragraph--type--list h2 + .cd-styled-list,
.paragraph--type--teaser-grid h2 + .cd-grid {
	padding-top: 0;
	border-top: 0 solid var(--cd-blue-grey);
}
