.addressHighlight .address {
  width: 300px;
  padding: 20px;
  color: var(--cd-white);
  background-color: var(--brand-primary);
}

.addressHighlight h3 {
  margin-top: 0;
  color: var(--cd-white);
}

.addressHighlight a {
  color: #fff;
}

.addressHighlight p {
  margin-bottom: 0;
  color: #eee;
}

.addressHighlight.geneva {
  background: url("../../img/map-geneva.png") no-repeat top right;
}

.addressHighlight.nyc {
  background: url("../../img/map-nyc.png") no-repeat top right;
}
