/* .viewsreference--view-title {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: var(--brand-primary);
  border-bottom: 3px solid var(--cd-blue-grey);
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0;
} */

/* .cd-layout-sidebar-first .viewsreference--view-title {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: var(--brand-primary);
  border-bottom: 1px solid var(--brand-primary);
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 0;
} */

@media (min-width: 1200px) {
  .view-updates .view-header,
  .view-iasc-group-content .view-header {
    padding-right: 0;
  }
}

.cd-layout-content .view-header {
  margin-bottom: 2rem;
}

.cd-layout-sidebar-first .views-exposed-form .form--inline {
  margin-bottom: 1rem;
}

.cd-layout-sidebar-first .views-exposed-form label {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: var(--brand-primary);
  border-bottom: 1px solid var(--brand-primary);
  font-size: 1.125rem;
  font-weight: 600;
}

.view-iasc-group-content .views-exposed-form .cd-form--inline .form-item,
.view-iasc-group-content .views-exposed-form .cd-form--inline .form-actions,
.view-search-content .views-exposed-form .cd-form--inline .form-item,
.view-search-content .views-exposed-form .cd-form--inline .form-actions,
.view-updates .views-exposed-form .cd-form--inline .form-item,
.view-updates .views-exposed-form .cd-form--inline .form-actions,
.view-resources .views-exposed-form .cd-form--inline .form-item,
.view-resources .views-exposed-form .cd-form--inline .form-actions,
.view-iasc-services .views-exposed-form .cd-form--inline .form-item,
.view-iasc-services .views-exposed-form .cd-form--inline .form-actions {
  margin: 0;
}

.view-iasc-group-content .views-exposed-form .cd-form--inline .form-item label,
.view-iasc-group-content .views-exposed-form .cd-form--inline .form-actions label,
.view-search-content .views-exposed-form .cd-form--inline .form-item label,
.view-search-content .views-exposed-form .cd-form--inline .form-actions label,
.view-updates .views-exposed-form .cd-form--inline .form-item label,
.view-updates .views-exposed-form .cd-form--inline .form-actions label,
.view-resources .views-exposed-form .cd-form--inline .form-item label,
.view-resources .views-exposed-form .cd-form--inline .form-actions label,
.view-iasc-services .views-exposed-form .cd-form--inline .form-item label,
.view-iasc-services .views-exposed-form .cd-form--inline .form-actions label {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

/* .region-facets .block-search h2,
.region-sidebar-first .block-search h2,
.region-sidebar-second .block-search h2 {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: var(--brand-primary);
  border-bottom: 1px solid var(--brand-primary);
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 0;
} */

.region-facets .block-search form .cd-form--inline label,
.region-sidebar-first .block-search form .cd-form--inline label,
.region-sidebar-second .block-search form .cd-form--inline label {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.region-facets .block-search form .cd-form--inline .form-item,
.region-sidebar-first .block-search form .cd-form--inline .form-item,
.region-sidebar-second .block-search form .cd-form--inline .form-item,
.region-facets .block-search form .cd-form--inline .form-actions,
.region-sidebar-first .block-search form .cd-form--inline .form-actions,
.region-sidebar-second .block-search form .cd-form--inline .form-actions {
  margin-top: 0;
  margin-bottom: 0;
}
.region-facets .block-search form .cd-form--inline .form-item input[type="text"],
.region-sidebar-first .block-search form .cd-form--inline .form-item input[type="text"],
.region-sidebar-second .block-search form .cd-form--inline .form-item input[type="text"],
.region-facets .block-search form .cd-form--inline .form-actions input[type="text"],
.region-sidebar-first .block-search form .cd-form--inline .form-actions input[type="text"],
.region-sidebar-second .block-search form .cd-form--inline .form-actions input[type="text"] {
  padding: 0.25rem 0.5rem;
}

@media (min-width: 1024px) {
  .region-facets .block-search form .cd-form--inline .form-item input[type="text"],
  .region-sidebar-first .block-search form .cd-form--inline .form-item input[type="text"],
  .region-sidebar-second .block-search form .cd-form--inline .form-item input[type="text"] {
    padding: 0.5rem;
    flex: 1 0 100%;
  }

  .region-facets .block-search form .cd-form--inline .form-actions,
  .region-sidebar-first .block-search form .cd-form--inline .form-actions,
  .region-sidebar-second .block-search form .cd-form--inline .form-actions {
    flex: 1 0 100%;
  }
}

.region-facets .block-search form .cd-form--inline .form-item .form-text,
.region-sidebar-first .block-search form .cd-form--inline .form-item .form-text,
.region-sidebar-second .block-search form .cd-form--inline .form-item .form-text {
  width: 100%;
}
.region-facets .block-search form .cd-form--inline .form-item .form-text:focus,
.region-sidebar-first .block-search form .cd-form--inline .form-item .form-text:focus,
.region-sidebar-second .block-search form .cd-form--inline .form-item .form-text:focus {
  outline: 2px solid var(--cd-blue--bright);
}

.region-facets .block-search form .cd-form--inline .form-actions input[type="submit"],
.region-sidebar-first .block-search form .cd-form--inline .form-actions input[type="submit"],
.region-sidebar-second .block-search form .cd-form--inline .form-actions input[type="submit"] {
  width: 100%;
}

@media (min-width: 576px) {
  .region-facets .block-search form .cd-form--inline .form-actions input[type="submit"],
  .region-sidebar-first .block-search form .cd-form--inline .form-actions input[type="submit"],
  .region-sidebar-second .block-search form .cd-form--inline .form-actions input[type="submit"] {
    max-width: 16rem;
  }
}

@media (min-width: 1024px) {
  .region-facets .block-search form .cd-form--inline .form-actions input[type="submit"],
  .region-sidebar-first .block-search form .cd-form--inline .form-actions input[type="submit"],
  .region-sidebar-second .block-search form .cd-form--inline .form-actions input[type="submit"] {
    width: 100%;
    /* IE 11. */
    max-width: 100%;
    max-width: unset;
  }

  .region-facets .block-search form .cd-form--inline,
  .region-sidebar-first .block-search form .cd-form--inline,
  .region-sidebar-second .block-search form .cd-form--inline {
    flex-wrap: wrap;
  }
}

/* Services table */
@media (min-width: 576px) {
.views-table .views-field-field-service-coverage {
    width: 30%;
  }
}

/* Adjust height to accommodate height of long th. */
@media (max-width: 575px) {
  .cd-table--responsive td.views-field-field-share-data {
    min-height: 8rem;
  }

  .cd-table--responsive td.views-field-field-service-coverage {
    min-height: 4rem;
  }
}

.view-header > p {
  margin-top: 0;
}

@media (max-width: 1023px) {
.view-iasc-services .view-header h2 {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--cd-blue-grey);
  }
}

.view-iasc-services .pager {
  margin-bottom: 4rem;
}

@media (min-width: 1024px) {
.view-iasc-services .pager {
    margin-bottom: 6rem;
  }
}

.cd-layout-sidebar-first .more-link {
  margin: -1rem 0 2rem;
}

.more-link {
  display: block;
  text-align: right;
}

.view-filters {
  margin-bottom: 2rem;
}

/* Event teaser grid adjustments. */
.cd-grid--2-col .cd-teaser__container {
  margin-top: 0;
}

@media (min-width: 768px) {
  .cd-grid--2-col .cd-teaser__container .view-content .views-row {
    /* Reset cd-flow when 2 columns. */
    margin-top: 0;
    /* Horizontal spacing. */
    padding-left: 0.5rem;
  }

  .cd-grid--2-col .cd-teaser__container .view-content .views-row:nth-child(2n+1) {
    padding-right: 0.5rem;
    padding-left: 0;
  }
}

.cd-pager__item.is-active a {
  background-color: var(--brand-primary);
}

.cd-pager__item a:hover,
.cd-pager__item a:focus {
  background-color: var(--iasc-secondary);
}
