{%
  set classes = [
    'section-menu-block',
  ]
%}

{% if (section_links) %}
  {{ attach_library('iasc_common_design/cd-list') }}
    <div{{ attributes.addClass(classes) }}>

      <h2 class="cd-sidebar__label">Sections</h2>

      <ul class="cd-list">
        {% for section_link in section_links %}
          <li>{{ section_link }}</li>
        {% endfor %}
      </ul>
    </div>
{% endif %}
