/* Brand colours */
.cd-hero__link {
  color: var(--brand-primary);
  background-color: var(--brand-highlight);
}

.cd-hero__link:hover,
.cd-hero__link:focus {
  color: var(--brand-primary);
  background-color: var(--iasc-red);
}
