//——————————————————————————————————————————————————————————————————————————————
// Button styles
//——————————————————————————————————————————————————————————————————————————————
button,
input[type='submit'] {
  -webkit-appearance: none;
  @include font-size($cd-font-size-small);
  color: $cd-grey--dark;
  background: none;
  border: 0 none;
  border-radius: 0;
  box-shadow: none;
  font-family: $cd-font;
}

.btn-primary,
.form-actions input[type='submit'] {
  display: inline-block;
  background: $cd-ocha-blue;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: $cd-white;
  border: 1px solid $cd-ocha-blue;
  padding: 1.5rem;
  transition: background 0.3s ease;

  &:hover,
  &:focus {
    background: darken($cd-ocha-blue, 10%);
    color: $cd-white;
  }

  &:focus {
    outline: 3px solid $cd-blue--bright;
  }
}

.btn-primary {
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
