// Pagination.

.pager__items {
  padding: 0.5rem;
}

.pager__item a {
  padding: 0.5rem 0.75rem;
  background-color: $cd-white;
  border: 1px solid $cd-mid-bluey-grey;
  border-radius: 0.25rem;
  text-decoration: none;
}

.pager__item a:hover,
.pager__item a:focus {
  color: $cd-white;
  background-color: $iasc-secondary;
  border-color: $iasc-secondary;
}

.pager__item.is-active a {
  font-weight: bold;
  color: $cd-white;
  background-color: $iasc-primary;
  border-color: $iasc-primary;
}
