{% embed '@common_design/cd/cd-footer/cd-social-menu.html.twig' %}
  {% block social_media %}
    <ul class="cd-footer-social__list" role="list">
      <li class="cd-footer-social__item">
        <a href="https://www.facebook.com/FriendsofIASC" class="cd-footer-social__link">
          <span class="visually-hidden">Facebook</span>

          <svg class="cd-icon cd-icon--facebook" aria-hidden="true" focusable="false" width="26" height="26">
            <use xlink:href="#cd-icon--sm-fb-def"></use>
          </svg>
          <svg class="cd-icon cd-icon--facebook hover-style" aria-hidden="true" focusable="false" width="26" height="26">
            <use xlink:href="#cd-icon--sm-fb-full"></use>
          </svg>
        </a>
      </li>
      <li class="cd-footer-social__item">
        <a href="https://twitter.com/iascch" class="cd-footer-social__link">
          <span class="visually-hidden">Twitter</span>

          <svg class="cd-icon cd-icon--twitter" aria-hidden="true" focusable="false" width="26" height="26">
            <use xlink:href="#cd-icon--sm-tt-def"></use>
          </svg>
          <svg class="cd-icon cd-icon--twitter hover-style" aria-hidden="true" focusable="false" width="26" height="26">
            <use xlink:href="#cd-icon--sm-tt-full"></use>
          </svg>
        </a>
      </li>
    </ul>
  {% endblock %}
{% endembed %}
