.node--type-oa-event {

  &.node--view-mode-teaser {
    .cd-teaser__image {
      min-height: 80px; // Height of calendar
      position: relative;
    }

    h3 {
      margin-top: 0;
    }
  }

  &.node--view-mode-full {
    .cd-date {
      margin-right: 1rem;
    }
  }
}
