.node__read-more {
  text-align: right;

  a {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  svg {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-left: 1rem;
    fill: $iasc-highlight;
  }
}

.field--name-field-header {
  .block,
  .field--type-viewsreference {
    margin-bottom: 3rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $cd-blue-grey;
  }

  h2,
  .viewsreference--view-title {
    @extend .cd-heading-2;

    margin-top: 0;
    text-align: center;
  }

  .paragraph {
    margin-bottom: 2rem;

    &.paragraph--type--hero {
      margin-bottom: 1rem;
    }
  }
}

body:not(.path-frontpage) .paragraph.paragraph--type--hero {
  @include tablet {
    margin-bottom: 3rem;
  }
}

.field--name-field-sidebar,
.field--name-field-content,
.field--name-field-footer {
  .paragraph {
    margin-bottom: 1rem;
  }

  .paragraph--type--contact-list {
    margin-bottom: 2rem;
  }
}

.path-frontpage .field--name-field-content {
  .viewsreference--view-title {
    @extend .cd-heading-3;

    margin-top: 1rem;
  }
}

.path-frontpage .cd-layout-sidebar-first {
  .viewsreference--view-title {
    margin-top: 1rem;
  }
}

//.path-frontpage .field--name-field-content {
//  h2 {
//    @extend .cd-heading-3;
//    margin-top: 1rem;
//  }
//}
//
//.path-frontpage .cd-layout-sidebar-first {
//  h2 {
//    margin-top: 1rem;
//  }
//}

.node__meta {
  margin-bottom: 2rem;
}

.node--type-oa-event.node--view-mode-full .cd-teaser__date {
  min-height: 80px; // height of calendar icon, helps clear elements below.
  margin-bottom: 1rem;
}

.align-left {
  margin-right: 1rem;
}

.align-right {
  margin-left: 1rem;
}

// Contact block on Service node.
.field--name-field-global-focal-point {
  padding: 1rem;
  background: $cd-blue-grey--light;
}

.node--view-mode-no-title {
  margin-bottom: 2rem;
}

// Services node type.
.node--type-service {
  &.node--view-mode-full .cd-layout-main-content > .field,
  &.node--view-mode-teaser .node__content > .field {
    margin-bottom: 2rem;
  }

  .field__label {
    margin-bottom: 0.5rem;
  }

  .cd-layout-sidebar-first {
    textarea {
      width: 100%;
    }
  }

  //// Comma separated.
  //.field--name-field-service-coverage .field__items,
  //.field--name-field-relevant-hpc-stage .field__items {
  //  display: flex;
  //  flex-wrap: wrap;
  //
  //  .field__item::after {
  //    content: ',';
  //    padding-right: 0.25rem;
  //  }
  //
  //  .field__item:last-child::after {
  //    content: none;
  //    padding-right: 0;
  //  }
  //}
}
