.grid-item {
  //padding: 1rem 1rem 0;
  margin-bottom: 2rem;

  @include desktop {
    float: left;
    width: 31%;
    //padding: 0 1rem;
    margin-bottom: 1rem;

    &:nth-child(odd) {
      margin-right: 1rem;
    }
  }
}

/* IE 11 fix for clearing floated items */
@media screen and (-ms-high-contrast: none) {
  .grid-item {
    @include desktop {
      min-height: 24rem;
    }
  }
}

.grid-item_article {
  > h3 {
    text-transform: unset;
  }

  //> h3 > a {
  //  text-decoration: none;
  //}

  footer {
    margin-right: -1rem;
    margin-left: -1rem;
    padding: 1rem;
    background-color: $cd-blue-grey--dark;
  }
}

@supports (display: flex) {
  @include tablet {

    .grid-3-col {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .grid-item {
      display: flex;
      flex: 0 0 48%;
    }

    .grid-item_article {
      display: flex;
      flex: 1 0 100%;
      flex-direction: column;

      // Sticky footer.
      footer {
        margin-top: auto;
      }
    }
  }

  @include desktop {

    .grid-item {
      .cd-layout-highlighted & {
        float: none;
        flex: 0 0 24%;

        // Reset from no support layout.
        width: unset;
        max-width: 24%;

        &:nth-child(odd) {
          clear: initial;
          margin-right: unset;
        }
      }

      .cd-layout-content & {
        float: none;
        flex: 0 0 32%;

        // Reset from no support layout.
        width: unset;
        max-width: 32%;

        &:nth-child(odd) {
          clear: initial;
          margin-right: unset;
        }
      }
    }
  }
}

@supports (display: grid) {
  @include tablet {

    .grid-3-col {
      display: grid;
      grid-template-columns: repeat(2, minmax(100px, 1fr));
      grid-gap: 1rem;
    }

    .grid-item {
      .cd-layout-highlighted &,
      .cd-layout-content & {
        max-width: unset;
      }
    }
  }

  @include desktop {

    .grid-3-col {
      grid-template-columns: repeat(3, minmax(200px, 1fr));

      .cd-layout-highlighted & {
        grid-template-columns: repeat(4, minmax(200px, 1fr));
      }
    }
  }
}

.cd-layout-content,
.cd-layout-highlighted {
  .cd-grid .view-content {
    @extend .grid-3-col;
  }

  .cd-grid-3-col .views-row {
    @extend .grid-item;

    background-color: $cd-blue-grey;
  }
}

.cd-grid-3-col .views-row article {
  @extend .grid-item_article;
}

.grid-item .node__content {
  padding: 0 0 1rem;
}
