.grid-2-col > * {
  margin-bottom: 2rem;
}

@include desktop {
  .grid-2-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .grid-2-col > * {
    flex: 0 0 48%;
    margin-bottom: 1rem;
  }
}

@supports (display: grid) {
  @include desktop {

    .grid-2-col {
      display: grid;
      grid-template-columns: repeat(2, minmax(200px, 1fr));
      grid-gap: 1rem;
    }
  }
}

.cd-layout-content {
  .cd-grid-2-col .view-content {
    @extend .grid-2-col;
  }
}
