//——————————————————————————————————————————————————————————————————————————————
// Common Design: Layout
//——————————————————————————————————————————————————————————————————————————————

// with sidebar pattern
.cd-layout {
  padding-top: 0;

  @include tablet {
    padding-top: 0;
  }

  // Assumes frontpage has hero as first element in header field.
  .path-frontpage:not(.user-logged-in) & {
    padding-top: 0;
  }
}

section.cd-layout-two-col .cd-layout-sidebar-first {
  background-color: transparent;
}

