<div class="cd-footer__section cd-footer__section--social">

  {% block social_media %}

  <a href="https://www.facebook.com/#!/FriendsofIASC" class="cd-footer-social__link">
    <span class="visually-hidden">Facebook</span>

    <svg class="icon icon--facebook">
      <use xlink:href="#sm-fb-def"></use>
    </svg>

    <svg class="icon icon--facebook hover-style">
      <use xlink:href="#sm-fb-full"></use>
    </svg>
  </a>

  <a href="https://twitter.com/iascch/lists/iasc-ch" class="cd-footer-social__link">
    <span class="visually-hidden">Twitter</span>

    <svg class="icon icon--twitter">
      <use xlink:href="#sm-tt-def"></use>
    </svg>

    <svg class="icon icon--twitter hover-style">
      <use xlink:href="#sm-tt-full"></use>
    </svg>
  </a>
  {% endblock %}

</div>
