.viewsreference--view-title {
  @extend .cd-heading-2;

  margin-top: 0;

  .cd-layout-sidebar-first & {
    @extend .cd-heading-3;

    margin-top: 0;
    //margin-top: 1.5rem;
  }
}

.view-updates,
.view-iasc-group-content {
  .view-header {
    //@extend .cd-page-title;

    @include xl {
      padding-right: 0;
    }
  }
}

.cd-layout-sidebar-first .views-exposed-form {
  .form--inline {
    margin-bottom: 1rem;
  }

  label {
    @extend .cd-heading-3;
  }
}

.view-iasc-group-content,
.view-search-content,
.view-updates,
.view-resources,
.view-iasc-services {
  .views-exposed-form .cd-form--inline {

    .form-item,
    .form-actions {
      margin: 0;
    }

    label {
      @include visually-hidden;
    }
  }
}

.region-facets,
.region-sidebar-first,
.region-sidebar-second {
  .block-search h2 {
    @extend .cd-heading-3;

    margin-top: 0;
  }

  form .cd-form--inline {

    label {
      @include visually-hidden;
    }

    .form-item,
    .form-actions {
      margin-top: 0;
      margin-bottom: 0;

      input[type="text"] {
        padding: 0.25rem 0.5rem;

        @include desktop {
          padding: 0.5rem;
        }
      }

      @include desktop {
        flex: 1 0 100%;
      }
    }

    .form-text {
      width: 100%;

      &:focus {
        outline: 2px solid $cd-blue--bright;
      }
    }

    .form-actions input[type="submit"] {
      width: 100%;

      @include sm {
        max-width: 16rem;
      }

      @include desktop {
        width: 100%;
        // IE 11.
        max-width: 100%;
        max-width: unset;
      }
    }

    @include desktop {
      flex-wrap: wrap;
    }
  }
}

// Services table
.views-table {
  @media (min-width: 576px) {
    .views-field-field-service-coverage {
      width: 30%;
    }
  }
}

// Adjust height to accommodate height of long th.
@media (max-width: 575px) {
  .cd-table--responsive td.views-field-field-share-data {
    min-height: 8rem;
  }

  .cd-table--responsive td.views-field-field-service-coverage {
    min-height: 4rem;
  }
}

.view-header > p {
  margin-top: 0;
}

.view-iasc-services {
  .view-header h2 {
    @media (max-width: 1023px) {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid $cd-blue-grey;
    }
  }

  .pager {
    margin-bottom: 4rem;

    @include desktop {
      margin-bottom: 6rem;
    }
  }
}

.more-link {
  display: block;
  text-align: right;
}

.view-filters {
  margin-bottom: 2rem;
}

// Event teaser grid adjustments.
.cd-grid--2-col {
  .cd-teaser__container {
    margin-top: 0;
  }

  @include tablet {
    .view-content {
      .views-row {
        // Reset cd-flow when 2 columns.
        margin-top: 0;
        // Horizontal spacing.
        padding-left: 0.5rem;
      }

      .views-row:nth-child(2n+1) {
        padding-right: 0.5rem;
        padding-left: 0;
      }
    }
  }
}

.cd-pager__item.is-active a {
  background-color: $iasc-primary;
}

.cd-pager__item a:hover,
.cd-pager__item a:focus {
  background-color: $iasc-secondary;
}
