.viewsreference--view-title {
  @extend .cd-heading-2;
  margin-top: 0;

  .cd-layout-sidebar-first & {
    @extend .cd-heading-3;
    margin-top: 0;
    //margin-top: 1.5rem;
  }
}

.view-updates,
.view-iasc-group-content {
  .view-header {
    @extend .page-title;

    @include xl {
      padding-right: 0;
    }
  }
}

.cd-layout-sidebar-first .views-exposed-form {
  .form--inline {
    margin-bottom: 1rem;
  }

  label {
    @extend .cd-heading-3;
  }
}

.view-iasc-group-content,
.view-search-content,
.view-updates,
.view-resources,
.view-iasc-services {
  .views-exposed-form .form--inline {
    display: flex;
    margin-bottom: 2rem;

    .form-item,
    .form-actions {
      margin: 0;
    }

    .form-text:focus {
      outline: 2px solid $cd-bright-blue;
    }

    .form-actions input[type='submit'] {
      line-height: 37px;
      padding: 0 1rem;
    }

    .form-actions input:focus {
      outline: 2px solid $cd-bright-blue;
    }

    label {
      @include visually-hidden;
    }
  }
}

.region-sidebar-first,
.region-sidebar-second {
  .block-search {
    margin-bottom: 2rem;
  }

  .block-search h2 {
    @extend .cd-heading-3;
    margin-top: 0;
  }

  .views-exposed-form .form--inline {

    label {
      @include visually-hidden;
    }

    .form-item {
      margin-top: 0;
      margin-bottom: 0;
    }

    .form-actions {
      margin: 0;
    }

    .form-text {
      width: 100%;

      &:focus {
        outline: 2px solid $cd-bright-blue;
      }
    }

    .form-actions input[type='submit'] {
      width: 100%;

      @include sm {
        max-width: 16rem;
      }

      @include desktop {
        // IE 11.
        // sass-lint:disable no-duplicate-properties
        max-width: 100%;
        max-width: unset;
        width: 100%;
      }
    }
  }
}

// Services table
.views-table {
  @media (min-width: 576px) {
    .views-field-field-service-coverage {
      width: 30%;
    }
  }
}

// Adjust height to accommodate height of long th.
@media (max-width: 575px) {
  .cd-table--responsive td.views-field-field-share-data {
    min-height: 8rem;
  }

  .cd-table--responsive td.views-field-field-service-coverage {
    min-height: 4rem;
  }
}

.view-header > p {
  margin-top: 0;
}

.view-iasc-services {
  .view-header h2 {
    @media (max-width: 1023px) {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid $cd-mid-bluey-grey;
    }
  }

  .pager {
    margin-bottom: 4rem;

    @include desktop {
      margin-bottom: 6rem;
    }
  }
}
