.node__read-more {
  text-align: right;

  a {
    font-weight: 600;
    font-size: 1rem;
    display: block;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  svg {
    fill: $iasc-highlight;
    width: 9px;
    height: 9px;
    display: inline-block;
    margin-left: 1rem;
  }
}

.field--name-field-header {
  .block,
  .field--type-viewsreference {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $cd-mid-bluey-grey;
    margin-bottom: 3rem;
  }

  .block > h2,
  .viewsreference--view-title {
    font-weight: 700;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    border-bottom: 2px solid $cd-mid-bluey-grey;
  }
}

.field--name-field-header,
.field--name-field-sidebar,
.field--name-field-content,
.field--name-field-footer {
  .paragraph {
    margin-bottom: 1rem;
  }
  .paragraph--type--contact-list {
    margin-bottom: 2rem;
  }
}

.node__meta {
  margin-bottom: 2rem;
}

.node--view-mode-full {

  .field {
    margin-bottom: 1rem;
  }

  .field--label-inline {
    overflow: hidden;
  }
}
