.node--type-oa-event {

  &.node--view-mode-teaser {
    padding-left: 100px;
    margin-bottom: 40px;
    min-height: 80px; // Height of calendar
    position: relative;

    .cd-date {
      position: absolute;
      left: 0;
      top: 0;
    }

    h3 {
      margin-top: 0;
    }
  }
}
