.node__read-more {
  text-align: right;

  a {
    font-weight: 600;
    font-size: 1rem;
    display: block;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  svg {
    fill: $iasc-highlight;
    width: 9px;
    height: 9px;
    display: inline-block;
    margin-left: 1rem;
  }
}

.field--name-field-header {
  .block,
  .field--type-viewsreference {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $cd-mid-bluey-grey;
    margin-bottom: 3rem;
  }

  h2,
  .viewsreference--view-title {
    @extend .cd-heading-2;
    text-align: center;
    margin-top: 0;
  }

  .paragraph {
    margin-bottom: 2rem;

    &.paragraph--type--hero {
      margin-bottom: 1rem;
    }
  }
}

.field--name-field-sidebar,
.field--name-field-content,
.field--name-field-footer {
  .paragraph {
    margin-bottom: 1rem;
  }

  .paragraph--type--contact-list {
    margin-bottom: 2rem;
  }
}

.path-frontpage .field--name-field-content {
  h2,
  .viewsreference--view-title,
  .cd-sidebar__label {
    @extend .cd-heading-3;
    margin-top: 1rem;
  }
}

.path-frontpage .cd-layout-sidebar-first {
  h2,
  .viewsreference--view-title,
  .cd-sidebar__label {
    margin-top: 1rem;
  }
}

.node__meta {
  margin-bottom: 2rem;
}
