.grid-item {
  padding: 1rem 1rem 0;
  margin-bottom: 2rem;

  @include desktop {
    padding: 0 1rem;
    margin-bottom: 1rem;
    width: 32%;
    float: left;

    &:nth-child(odd) {
      margin-right: 1rem;
      clear: both;
    }
  }
}

.grid-item_article {

  > h3 {
    text-transform: unset;
  }

  //> h3 > a {
  //  text-decoration: none;
  //}

  footer {
    background-color: $cd-site-bg-color--dark;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 1rem;
  }
}

@supports (display: flex) {

  @include tablet {

    .grid {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .grid-item {
      flex: 0 0 48%;
      display: flex;
    }

    .grid-item_article {
      flex: 1 0 100%;
      display: flex;
      flex-direction: column;

      // Sticky footer.
      footer {
        margin-top: auto;
      }
    }
  }

  @include desktop {

    .grid-item {
      .layout-highlighted & {
        flex: 0 0 24%;
        max-width: 24%;

        // Reset from no support layout.
        width: unset;
        float: none;

        &:nth-child(odd) {
          margin-right: unset;
          clear: initial;
        }
      }
    }

    .grid-item {
      .layout-content & {
        flex: 0 0 32%;
        max-width: 32%;

        // Reset from no support layout.
        width: unset;
        float: none;

        &:nth-child(odd) {
          margin-right: unset;
          clear: initial;
        }
      }
    }
  }
}


@supports (display: grid) {

  @include tablet {

    .grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(200px, 1fr));
      grid-gap: 10px;
    }

    .grid-item {
      max-width: unset;
    }
  }

  @include desktop {

    .grid {
      grid-template-columns: repeat(3, minmax(200px, 1fr));

      .layout-highlighted & {
        grid-template-columns: repeat(4, minmax(200px, 1fr));
      }
    }
  }
}

.layout-content,
.layout-highlighted {
  .cd-grid .view-content {
    @extend .grid;
  }

  .cd-grid .views-row {
    @extend .grid-item;
    background-color: $cd-site-bg-color;
  }
}

.cd-grid .views-row article {
  @extend .grid-item_article;
}

.grid-item .node__content {
  padding: 0 0 1rem;
}

.layout-highlighted {
  .block {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $cd-mid-bluey-grey;
  }

  .block > h2 {
    font-weight: 700;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    border-bottom: 2px solid $cd-mid-bluey-grey;
  }
}
