/**
 * Global header specific dropdown styles.
 */
.cd-global-header__dropdown {
  background: var(--brand-primary);
}

.cd-global-header button[aria-expanded=true]::before {
  border-color: transparent transparent var(--brand-primary);
}

.menu--main button[aria-expanded] .cd-icon--arrow-down {
  fill: var(--brand-highlight);
}

.cd-footer {
  --cd-footer-row-number: 6;
  grid-row: var(--cd-footer-row-number)/var(--cd-footer-row-number);
  color: var(--cd-white);
  background: var(--brand-primary);
}

.cd-global-header {
  color: var(--cd-white);
  background: var(--brand-primary);
}

@supports (display: grid) {
  .cd-site-header__inner {
    grid-template-columns: 100px 1fr;
  }

  @media (min-width: 768px) {
    .cd-site-header__inner {
      grid-template-columns: 220px 1fr;
    }
  }
}
.cd-header {
  margin-bottom: 20px;
}

#cd-language li a:hover,
#cd-language li a:focus {
  color: var(--brand-highlight);
}

/* Assumes frontpage has hero as first element in header field. */
@supports (object-fit: cover) {
  .path-frontpage:not(.user-logged-in) .cd-layout-container main.cd-container {
    padding-top: 0;
  }
}

.path-frontpage:not(.user-logged-in) .cd-layout-container main.cd-container .cd-layout-two-col .cd-layout-main-content iframe {
  max-width: 100%;
}

.cd-site-logo {
  width: 100px;
  background: url("../../img/logos/logo-mobile.svg") center no-repeat;
  background-size: contain;
}

@media (min-width: 768px) {
  .cd-site-logo {
    width: 220px;
    background: none;
  }

  .cd-site-logo img {
    width: auto;
    /* Fixes placement in IE11.*/
  }
}
.cd-nav__btn[aria-expanded] .cd-icon--arrow-down {
  fill: var(--brand-highlight);
}

.cd-nav__btn[aria-expanded] .cd-icon--arrow-down[aria-expanded=true]::before {
  background: var(--brand-highlight);
}

.cd-ocha-dropdown__link a:hover,
.cd-ocha-dropdown__link a:focus {
  border-color: var(--cd-white);
}

a.cd-ocha-dropdown__see-all {
  color: var(--brand-primary);
  background: var(--iasc-red);
}

a.cd-ocha-dropdown__see-all:hover,
a.cd-ocha-dropdown__see-all:focus {
  color: var(--brand-primary-dark);
  background: var(--brand-highlight);
}

.cd-search__btn {
  color: var(--brand-primary);
}

.cd-search__btn svg {
  fill: var(--brand-primary);
}

.cd-search__btn:hover,
.cd-search__btn:focus {
  color: var(--iasc-secondary);
}

.cd-search__btn:hover svg,
.cd-search__btn:focus svg {
  fill: var(--iasc-secondary);
}

.cd-search__btn:focus {
  color: var(--brand-highlight);
}

.cd-search__btn:focus svg {
  fill: var(--brand-highlight);
}

.cd-search__btn[aria-expanded=true] {
  color: var(--brand-highlight);
}

.cd-search__btn[aria-expanded=true] svg {
  fill: var(--brand-highlight);
}

.cd-search__submit {
  background: var(--iasc-secondary);
}

.cd-search__submit:focus {
  background-color: var(--brand-highlight);
}

/* Override webform.form.css */
.cd-search .form--inline .form-item {
  float: none;
}

.cd-soft-footer::before {
  background: var(--brand-primary);
}

.cd-soft-footer .button {
  padding: 10px 12px;
  text-transform: uppercase;
  color: var(--brand-primary);
  background: var(--iasc-red);
  font-weight: 700;
}

.cd-soft-footer .button:hover,
.cd-soft-footer .button:focus {
  background: var(--iasc-red);
}

@media (min-width: 768px) {
  .cd-soft-footer .button {
    margin-top: 0;
  }

  .cd-soft-footer__inner {
    justify-content: flex-start;
  }

  .cd-soft-footer__inner form {
    margin-left: 20px;
  }

  .cd-soft-footer__inner input[type=email] {
    padding: 0.25rem 0.5rem;
  }
}
.cd-user-menu__item::after {
  background: var(--cd-white);
}

.cd-user-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cd-user-menu li {
  position: relative;
  float: left;
}

.cd-user-menu--no-language-switcher li:last-child a {
  padding-right: 0;
}

.cd-user-menu--no-language-switcher li:last-child a::after {
  content: none;
}

.cd-filter__btn {
  background-color: var(--brand-primary);
}

.cd-filter__btn:hover {
  background-color: var(--brand-primary-dark);
}

.cd-filter__btn:focus {
  border: 2px solid var(--cd-blue--bright);
}

/* Correct cd-filter when filters are in sidebar */
@media (min-width: 1024px) {
  [dir=ltr] .cd-filter__form > .block {
    padding-right: 0;
  }
}
.block--type-block-with-text-and-link {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.block--type-block-with-text-and-link .field--name-field-block-title {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: var(--brand-primary);
  border-bottom: 1px solid var(--brand-primary);
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 0;
}

.block--type-block-with-text-and-link .field--name-field-description {
  margin-bottom: 1rem;
}

.block--type-block-with-text-and-link .field--name-field-link {
  margin-bottom: 1rem;
}

.block--type-block-with-text-and-link .field--name-field-link a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem;
  transition: background 0.3s ease;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--cd-white);
  border: 1px solid var(--cd-ocha-blue);
  background: var(--cd-ocha-blue);
  font-size: var(--cd-font-size--small);
  font-weight: bold;
}

.block--type-block-with-text-and-link .field--name-field-link a::after {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: 1rem;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%23fff' d='M35,20.65V42H6V18H22.09l9-9H4.2A2.2,2.2,0,0,0,2,11.2V43.8A2.2,2.2,0,0,0,4.2,46H36.8A2.2,2.2,0,0,0,39,43.8V16.65ZM12.5,12A1.5,1.5,0,1,1,11,13.5,1.5,1.5,0,0,1,12.5,12Zm-5,0A1.5,1.5,0,1,1,6,13.5,1.5,1.5,0,0,1,7.5,12Z'/%3E%3Cpath fill='%23fff' d='M44,2H23a2,2,0,0,0,0,4H39L16.51,28.52a2.1,2.1,0,0,0,3,3L42,9V25a2,2,0,0,0,4,0V4A2,2,0,0,0,44,2Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.block--type-block-with-text-and-link .field--name-field-link a:hover,
.block--type-block-with-text-and-link .field--name-field-link a:focus {
  color: var(--cd-white);
  background: var(--cd-blue--dark);
}

.block--type-block-with-text-and-link .field--name-field-link a:focus {
  outline: 3px solid var(--cd-blue--bright);
}

@media (min-width: 576px) {
  .block--type-block-with-text-and-link .field--name-field-link a {
    max-width: 16rem;
  }
}
@media (min-width: 768px) {
  .block--type-block-with-text-and-link .field--name-field-link a {
    width: 100%;
    max-width: unset;
  }
}
.cd-layout-content .block--type-block-with-text-and-link,
.cd-layout-main-content .block--type-block-with-text-and-link {
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  .cd-layout-content .block--type-block-with-text-and-link,
.cd-layout-main-content .block--type-block-with-text-and-link {
    float: left;
    max-width: 50%;
    margin-bottom: 1rem;
    padding-right: 1rem;
  }
}
/* Adjust padding so Custom blocks float flush left and right. */
@media (min-width: 1024px) {
  .node--type-panopoly-landing-page .field--name-field-content .field__item:last-child .paragraph--type--custom-block {
    padding-right: 0;
    padding-left: 1rem;
  }

  .region-content > .block--type-block-with-text-and-link:last-child {
    padding-right: 0;
    padding-left: 1rem;
  }
}
.group--view-mode-full .field,
.node--view-mode-full .field {
  margin-bottom: 1rem;
}

.group--view-mode-full .field--label-inline,
.node--view-mode-full .field--label-inline {
  overflow: hidden;
}

.field--name-field-ai-title {
  margin-bottom: 1rem;
  font-weight: bold;
}

.field--name-field-content .field--type-viewsreference {
  margin-bottom: 2rem !important;
}

.field--name-field-description {
  margin-bottom: 2rem;
}

.group--view-mode-search-result .field--name-field-description {
  margin-bottom: 0;
}

.field--name-field-meeting-notes,
.field--name-field-meeting-agendas,
.field--name-field-oa-section,
.field--name-field-iasc-audience,
.field--name-field-membership,
.field--name-group-content-access,
.field--name-field-ap-responsibility,
.field--name-field-host,
.field--name-field-info-private,
.field--name-field-oa-media,
.field--name-field-main-image,
.field--name-field-media-files {
  margin-bottom: 2rem !important;
}

.field--name-field-meeting-notes > .field__label,
.field--name-field-meeting-agendas > .field__label,
.field--name-field-oa-section > .field__label,
.field--name-field-iasc-audience > .field__label,
.field--name-field-membership > .field__label,
.field--name-group-content-access > .field__label,
.field--name-field-ap-responsibility > .field__label,
.field--name-field-host > .field__label,
.field--name-field-info-private > .field__label,
.field--name-field-oa-media > .field__label,
.field--name-field-main-image > .field__label,
.field--name-field-media-files > .field__label {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: var(--brand-primary);
  border-bottom: 3px solid var(--cd-blue-grey);
  font-size: 1.5rem;
  font-weight: 400;
}

.field--name-field-meeting-notes .field__item,
.field--name-field-meeting-agendas .field__item,
.field--name-field-oa-section .field__item,
.field--name-field-iasc-audience .field__item,
.field--name-field-membership .field__item,
.field--name-group-content-access .field__item,
.field--name-field-ap-responsibility .field__item,
.field--name-field-host .field__item,
.field--name-field-info-private .field__item,
.field--name-field-oa-media .field__item,
.field--name-field-main-image .field__item,
.field--name-field-media-files .field__item {
  margin-bottom: 1rem;
}

.cd-layout-sidebar-first .cd-location,
.cd-layout-sidebar-first.field--name-field-contact,
.cd-layout-sidebar-first.field--name-field-meeting-notes,
.cd-layout-sidebar-first.field--name-field-meeting-agendas,
.cd-layout-sidebar-first.field--name-field-oa-section,
.cd-layout-sidebar-first.field--name-field-iasc-audience,
.cd-layout-sidebar-first.field--name-field-links,
.cd-layout-sidebar-first.field--name-field-membership,
.cd-layout-sidebar-first.field--name-field-date-closed,
.cd-layout-sidebar-first.field--name-field-external-link,
.cd-layout-sidebar-first.field--name-group-content-access,
.cd-layout-sidebar-first.field--name-field-ap-responsibility,
.cd-layout-sidebar-first.field--name-field-referenced-docs,
.cd-layout-sidebar-first.field--name-field-host,
.cd-layout-sidebar-first.field--name-field-category {
  margin-bottom: 2rem !important;
}

.cd-layout-sidebar-first .cd-location > .field__label,
.cd-layout-sidebar-first.field--name-field-contact > .field__label,
.cd-layout-sidebar-first.field--name-field-meeting-notes > .field__label,
.cd-layout-sidebar-first.field--name-field-meeting-agendas > .field__label,
.cd-layout-sidebar-first.field--name-field-oa-section > .field__label,
.cd-layout-sidebar-first.field--name-field-iasc-audience > .field__label,
.cd-layout-sidebar-first.field--name-field-links > .field__label,
.cd-layout-sidebar-first.field--name-field-membership > .field__label,
.cd-layout-sidebar-first.field--name-field-date-closed > .field__label,
.cd-layout-sidebar-first.field--name-field-external-link > .field__label,
.cd-layout-sidebar-first.field--name-group-content-access > .field__label,
.cd-layout-sidebar-first.field--name-field-ap-responsibility > .field__label,
.cd-layout-sidebar-first.field--name-field-referenced-docs > .field__label,
.cd-layout-sidebar-first.field--name-field-host > .field__label,
.cd-layout-sidebar-first.field--name-field-category > .field__label,
.cd-layout-sidebar-first .cd-location > .cd-sidebar__label,
.cd-layout-sidebar-first.field--name-field-contact > .cd-sidebar__label,
.cd-layout-sidebar-first.field--name-field-meeting-notes > .cd-sidebar__label,
.cd-layout-sidebar-first.field--name-field-meeting-agendas > .cd-sidebar__label,
.cd-layout-sidebar-first.field--name-field-oa-section > .cd-sidebar__label,
.cd-layout-sidebar-first.field--name-field-iasc-audience > .cd-sidebar__label,
.cd-layout-sidebar-first.field--name-field-links > .cd-sidebar__label,
.cd-layout-sidebar-first.field--name-field-membership > .cd-sidebar__label,
.cd-layout-sidebar-first.field--name-field-date-closed > .cd-sidebar__label,
.cd-layout-sidebar-first.field--name-field-external-link > .cd-sidebar__label,
.cd-layout-sidebar-first.field--name-group-content-access > .cd-sidebar__label,
.cd-layout-sidebar-first.field--name-field-ap-responsibility > .cd-sidebar__label,
.cd-layout-sidebar-first.field--name-field-referenced-docs > .cd-sidebar__label,
.cd-layout-sidebar-first.field--name-field-host > .cd-sidebar__label,
.cd-layout-sidebar-first.field--name-field-category > .cd-sidebar__label,
.field--name-field-ai-title {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: var(--brand-primary);
  border-bottom: 1px solid var(--brand-primary);
  font-size: 1.125rem;
  font-weight: 600;
}

.node--view-mode-bio-long .field--name-field-organisation,
.node--view-mode-bio-short .field--name-field-organisation {
  margin-bottom: 0 !important;
}

/* Margin resets because nested fields are hard. */
.node--view-mode-bio-long .field,
.node--view-mode-bio-short .field,
.node--type-contact .field--name-field-organisation,
.node--type-contact .field--name-field-position,
.node--type-contact .field--name-field-email {
  margin-bottom: 0;
}

.cd-layout-sidebar-first > .cd-sidebar {
  margin-bottom: 1rem !important;
}

.field--name-field-iasc-group-space {
  margin-top: 2rem;
}

.field--name-field-referenced-docs > .field__label {
  margin-bottom: 1rem;
}

/* Banner caption. */
.field--name-field-banner-text,
.field--name-field-oa-banner-text {
  margin-top: -1rem;
  /* assumes banner_image field has bottom margin. */
  text-align: right;
  font-size: 0.9rem;
  font-style: italic;
}

.field--name-field-service-coverage-region ul,
.field--name-field-kind-of-data ul,
.field--name-field-relevant-hpc-stage ul,
.field--name-field-services ul,
.field--name-field-interest ul,
.field--name-field-links-to-relevant-docs ul,
.field--name-field-iasc-group-space ul,
.field--name-field-referenced-docs ul,
.field--name-field-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.field--name-field-service-coverage-region ul li,
.field--name-field-kind-of-data ul li,
.field--name-field-relevant-hpc-stage ul li,
.field--name-field-services ul li,
.field--name-field-interest ul li,
.field--name-field-links-to-relevant-docs ul li,
.field--name-field-iasc-group-space ul li,
.field--name-field-referenced-docs ul li,
.field--name-field-links ul li {
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  background-image: url("../../img/icons/list-bullet.svg");
  background-repeat: no-repeat;
  background-position: top 7px left 0;
  background-size: 9px 9px;
}

/* This emulates the cd-bullet-list component using CSS bg image instead of SVG element in markup.
When a ul element is added to the text area field.*/
.field--name-field-examples-and-case-studies .field__item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.field--name-field-examples-and-case-studies .field__item ul li {
  position: relative;
  display: block;
  margin-bottom: 1rem;
}

.field--name-field-examples-and-case-studies .field__item ul li::before {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-right: 1rem;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%5C %3Cpath fill='%23ff4d59' d='M14,48a4,4,0,0,1-2.83-6.83L28.34,24,11.17,6.83a4,4,0,0,1,5.66-5.66l20,20a4,4,0,0,1,0,5.66l-20,20A4,4,0,0,1,14,48Z'/%3E%5C %3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* This emulates the cd-bullet-list component without being able to output as a ul. */
.field--name-field-meeting-notes > .field__items > .field__item,
.field--name-field-meeting-agendas > .field__items > .field__item {
  padding-bottom: 1rem;
}

aside .field--name-field-meeting-agendas > .field__items > .field__item {
  padding-bottom: 0;
}

aside .field--name-field-meeting-agendas .field__items .field__item .field--name-field-published-date .field__item {
  margin-bottom: 0;
}

.field--name-field-meeting-notes svg,
.field--name-field-meeting-agendas svg {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-right: 1rem;
  fill: var(--brand-highlight);
}

.field--name-field-membership > .field__items > .field__item + .field__item,
.field--name-field-contact > .field__items > .field__item + .field__item,
.field--name-field-contacts > .field__item + .field__item {
  margin: 1rem 0;
  padding-top: 1rem;
  border-top: 1px solid var(--cd-blue-grey);
}

.field__item p:first-child {
  margin-top: 0;
}

.field__label {
  font-weight: bold;
}

.field--label-inline .field__label,
.field--label-inline .field__items {
  float: left;
  /* LTR */
}

.field--label-inline .field__label,
.field--label-inline > .field__item,
.field--label-inline .field__items {
  padding-right: 0.5em;
}

[dir=rtl] .field--label-inline .field__label,
[dir=rtl] .field--label-inline .field__items {
  padding-right: 0;
  padding-left: 0.5em;
}

.field--label-inline .field__label::after {
  content: ":";
}

.field--name-field-summary-of-recommendat,
.field--name-field-description-implementation,
.field--name-body.field--type-text-with-summary {
  max-width: var(--cd-max-content-width);
}

.field--name-field-email a {
  word-break: break-word;
}

.block-facets h2 {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: var(--brand-primary);
  border-bottom: 1px solid var(--brand-primary);
  font-size: 1.125rem;
  font-weight: 600;
}

.block-facets .form-item,
.block-facets .form-actions {
  margin-top: 0;
  margin-bottom: 0;
}

.block-facets select {
  width: 100%;
}

.block-facets .select2-container {
  overflow: hidden;
}

.block-facets .select2-container--default .select2-search--inline .select2-search__field {
  width: auto !important;
}

.block-facets .select2-container .select2-selection--single .select2-selection__rendered,
.block-facets .select2-container .select2-selection--multiple .select2-selection__rendered {
  white-space: unset;
}

.select2-container--open,
.select2-container--focus,
.item-list__dropdown:focus {
  outline: 2px solid var(--cd-blue--bright);
}

.group--unpublished {
  background-color: #fff4f4;
}

.operations.form-actions {
  margin: 4rem 0;
}

.operations.form-actions input[type=submit] {
  display: block;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .operations.form-actions input[type=submit] {
    max-width: 16rem;
  }
}
.paragraph--type--services-landing-block form {
  margin-bottom: 4rem;
  border-bottom: 1px solid var(--cd-blue-grey);
}

@media (min-width: 1024px) {
  .paragraph--type--services-landing-block form {
    margin-bottom: 6rem;
  }
}
.paragraph--type--services-landing-block .cd-form__group {
  margin-bottom: 2rem;
}

.paragraph--type--services-landing-block label {
  margin-bottom: 0.25rem;
  color: var(--brand-primary);
  font-size: 1.5rem;
  font-weight: 400;
}

.paragraph--type--services-landing-block select {
  width: 100%;
}

.media--type-remote-video .field--name-field-media-oembed-video {
  position: relative;
  float: none;
  clear: both;
  width: 100%;
  height: 0;
  padding-top: 25px;
  padding-bottom: 56.25%;
}

.media--type-remote-video .field--name-field-media-oembed-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.more-link a {
  position: relative;
  margin-bottom: 1rem;
  text-decoration: none;
}

.more-link a::after {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 1rem;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%5C %3Cpath fill='%23ff4d59' d='M14,48a4,4,0,0,1-2.83-6.83L28.34,24,11.17,6.83a4,4,0,0,1,5.66-5.66l20,20a4,4,0,0,1,0,5.66l-20,20A4,4,0,0,1,14,48Z'/%3E%5C %3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.node__read-more {
  text-align: right;
}

.node__read-more a {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}

.node__read-more a:hover,
.node__read-more a:focus {
  text-decoration: underline;
}

.node__read-more svg {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 1rem;
  fill: var(--brand-highlight);
}

.field--name-field-header .block,
.field--name-field-header .field--type-viewsreference {
  margin-bottom: 3rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--cd-blue-grey);
}

.field--name-field-header h2,
.field--name-field-header .field--type-viewsreference .viewsreference--view-title {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: var(--brand-primary);
  border-bottom: 3px solid var(--cd-blue-grey);
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

.field--name-field-header .paragraph {
  margin-bottom: 2rem;
}

.field--name-field-header .paragraph.paragraph--type--hero {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  body:not(.path-frontpage) .paragraph.paragraph--type--hero {
    margin-bottom: 3rem;
  }
}
.field--name-field-sidebar .paragraph,
.field--name-field-content .paragraph,
.field--name-field-footer .paragraph {
  margin-bottom: 1rem;
}

.field--name-field-sidebar .paragraph--type--contact-list,
.field--name-field-content .paragraph--type--contact-list,
.field--name-field-footer .paragraph--type--contact-list {
  margin-bottom: 2rem;
}

.path-frontpage .field--name-field-content .viewsreference--view-title {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: var(--brand-primary);
  border-bottom: 1px solid var(--brand-primary);
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 1rem;
}

.path-frontpage .cd-layout-sidebar-first .viewsreference--view-title {
  margin-top: 1rem;
}

.node__meta {
  margin-bottom: 2rem;
}

.node--type-oa-event.node--view-mode-full .cd-teaser__date {
  min-height: 80px;
  /* height of calendar icon, helps clear elements below.*/
  margin-bottom: 1rem;
}

.align-left {
  margin-right: 1rem;
}

.align-right {
  margin-left: 1rem;
}

.field--name-field-global-focal-point {
  background: var(--cd-blue-grey--light);
}

.node--view-mode-no-title {
  margin-bottom: 2rem;
}

.node--type-service.node--view-mode-full .cd-layout-main-content > .field,
.node--type-service.node--view-mode-teaser .node__content > .field {
  margin-bottom: 2rem;
}

.node--type-service.node--view-mode-full .cd-layout-main-content > .field .field__label,
.node--type-service.node--view-mode-teaser .node__content > .field .field__label {
  margin-bottom: 0.5rem;
}

.node--type-service.node--view-mode-full .cd-layout-sidebar-first textarea {
  width: 100%;
}

.node--type-oa-event.node--view-mode-teaser {
  min-height: 8rem;
  /* Height of calendar */
}

.node--type-oa-event.node--view-mode-teaser .cd-teaser__image {
  position: relative;
  min-height: 80px;
  /* Height of calendar */
}

.node--type-oa-event.node--view-mode-teaser .cd-date {
  margin-bottom: 1rem;
}

.node--type-oa-event.node--view-mode-teaser h3 {
  margin-top: 0;
}

.node--type-oa-event.node--view-mode-teaser .cd-teaser__container {
  /* Reset cd-flow because the first element in the calendar. */
  margin-top: 0;
}

.node--type-oa-event.node--view-mode-full .cd-date {
  margin-right: 1rem;
}

/* Override cd-date component with brand colours. */
.cd-date__wrapper {
  background-color: var(--brand-primary);
}

.cd-date__wrapper + .cd-date__wrapper {
  background-color: transparent;
}

.cd-date__month,
.cd-date__year {
  color: var(--brand-primary);
}

.cd-grid--2-col .node--type-oa-event.node--view-mode-teaser.cd-teaser {
  border-bottom: 0 none;
}

.paragraph--type--hero .field,
.paragraph--type--teaser-item .field,
.paragraph--type--teaser-grid .field,
.paragraph--type--list-item .field,
.paragraph--type--list .field,
.paragraph--type--view .field,
.paragraph--type--twitter .field {
  margin-bottom: 0;
}

.paragraph--type--section-menu {
  margin-bottom: 2rem;
}

.paragraph--type--paragraph-content,
.paragraph--type--paragraph-text {
  clear: both;
  margin-bottom: 2rem;
}

.paragraph--type--paragraph-content .field--name-field-teaser-image .paragraph--type--paragraph-text .field--name-field-teaser-image {
  max-width: 300px;
  margin-bottom: 1rem;
}

.paragraph--type--paragraph-content .field--name-field-teaser-image h2,
.paragraph--type--paragraph-content .field--name-field-teaser-image h3,
.paragraph--type--paragraph-content .field--name-field-teaser-image p,
.paragraph--type--paragraph-text .field--name-field-teaser-image h2,
.paragraph--type--paragraph-text .field--name-field-teaser-image h3,
.paragraph--type--paragraph-text .field--name-field-teaser-image p {
  margin-top: 0;
}

.paragraph--type--paragraph-content ul,
.paragraph--type--paragraph-text ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.paragraph--type--paragraph-content ul li,
.paragraph--type--paragraph-text ul li {
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  background-image: url("../../img/icons/list-bullet.svg");
  background-repeat: no-repeat;
  background-position: top 7px left 0;
  background-size: 9px 9px;
}

.paragraph__image--align-left .field--name-field-paragraph-text p:last-child,
.paragraph__image--align-left .field--name-field-paragraph-text p:only-of-type {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .paragraph__image--align-left .field--name-field-paragraph-text .field--name-field-teaser-image {
    margin-right: 2rem;
  }
}
.paragraph__image--align-right {
  text-align: left;
}

@media (min-width: 768px) {
  .paragraph__image--align-right .field--name-field-paragraph-text {
    margin-right: 2rem;
  }
}
@supports (display: flex) {
  .paragraph__image--align-right .field--name-field-teaser-image {
    order: 2;
  }
}
@supports (display: flex) {
  .paragraph__image--align-right {
    display: flex;
    flex-wrap: wrap;
  }

  .paragraph__image--align-right .field--name-field-para-title {
    flex: 1 0 100%;
  }

  .paragraph__image--align-left .field--name-field-paragraph-text,
.paragraph__image--align-right .field--name-field-paragraph-text {
    order: 2;
  }

  .field--name-field-teaser-image {
    order: 1;
  }

  @media (min-width: 768px) {
    .field--name-field-teaser-image {
      flex: 1 0 300px;
    }

    .field--name-field-teaser-image {
      flex: 0 1 300px;
    }
  }
}
.paragraph--type--teaser-item h3 {
  margin: 0.5rem 0;
  font-size: 1.125rem;
  line-height: 1.2;
}

.paragraph--type--teaser-item h3 a {
  display: block;
  font-weight: 600;
}

.paragraph--type--teaser-item h3 a:hover,
.paragraph--type--teaser-item h3 a:focus {
  text-decoration: underline;
}

.cd-layout-main-content .paragraph--type--section-menu > .cd-sidebar__label,
.cd-layout-main-content .paragraph--type--twitter > .cd-sidebar__label,
.cd-layout-main-content .paragraph--type--reliefweb-feed > h2,
.cd-layout-main-content .paragraph--type--list > h2,
.cd-layout-main-content .paragraph--type--teaser-grid > h2,
.cd-layout-main-content .paragraph--type--paragraph-content > .field--name-field-para-title,
.cd-layout-main-content .paragraph--type--content-item .field--name-field-para-title,
.cd-layout-main-content .paragraph--type--video .field--name-field-para-title,
.cd-layout-main-content .paragraph--type--paragraph-text .field--name-field-para-title,
.cd-layout-main-content .paragraph--type--contact-list > .field--name-field-contacts > .field__label,
.cd-layout-main-content .paragraph--type--contact-list .field--name-field-list-title {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: var(--brand-primary);
  border-bottom: 3px solid var(--cd-blue-grey);
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0;
}

.cd-layout-sidebar-first .paragraph--type--section-menu > .cd-sidebar__label,
.cd-layout-sidebar-first .paragraph--type--twitter > .cd-sidebar__label,
.cd-layout-sidebar-first .paragraph--type--reliefweb-feed > h2,
.cd-layout-sidebar-first .paragraph--type--list > h2,
.cd-layout-sidebar-first .paragraph--type--teaser-grid > h2,
.cd-layout-sidebar-first .paragraph--type--paragraph-content > .field--name-field-para-title,
.cd-layout-sidebar-first .paragraph--type--content-item .field--name-field-para-title,
.cd-layout-sidebar-first .paragraph--type--video .field--name-field-para-title,
.cd-layout-sidebar-first .paragraph--type--paragraph-text .field--name-field-para-title,
.cd-layout-sidebar-first .paragraph--type--contact-list > .field--name-field-contacts > .field__label,
.cd-layout-sidebar-first .paragraph--type--contact-list .field--name-field-list-title {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: var(--brand-primary);
  border-bottom: 1px solid var(--brand-primary);
  font-size: 1.125rem;
  font-weight: 600;
}

.cd-layout-sidebar-first .paragraph--type--teaser-item,
.cd-layout-sidebar-first .paragraph--type--twitter,
.cd-layout-sidebar-first .paragraph--type--content-item,
.cd-layout-sidebar-first .paragraph--type--paragraph-content {
  margin-bottom: 2rem;
}

.cd-layout-sidebar-first .paragraph--type--teaser-item > .field__items > .field__item,
.cd-layout-sidebar-first .paragraph--type--twitter > .field__items > .field__item,
.cd-layout-sidebar-first .paragraph--type--content-item > .field__items > .field__item,
.cd-layout-sidebar-first .paragraph--type--paragraph-content > .field__items > .field__item {
  margin-bottom: 2rem;
}

.cd-layout-main-content > .field__items > .field__item {
  margin-bottom: 2rem;
}

.cd-layout-sidebar-first .cd-sidebar__label,
.cd-layout-sidebar-first .paragraph--type--list > h2,
.cd-layout-sidebar-first .paragraph--type--teaser-grid > h2 {
  margin-top: 0;
}

.paragraph--type--contact-list > .field--name-field-contacts > .field__items {
  padding: 1rem 0;
}

.paragraph--type--contact-list > .field--name-field-contacts > .field__items > .field__item {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.paragraph--type--agenda-items {
  margin-bottom: 2rem;
}

.paragraph--type--view {
  clear: both;
}

aside .paragraph--type--content-item .node--view-mode-teaser .cd-teaser__image,
aside .paragraph--type--content-item .group--view-mode-teaser .cd-teaser__image {
  max-width: 100%;
}

aside .paragraph--type--content-item .node--view-mode-teaser .field__label,
aside .paragraph--type--content-item .group--view-mode-teaser .field__label {
  margin-bottom: 0;
  padding-bottom: 0;
  color: currentColor;
  border-bottom: 1px none #272e67;
  font-size: inherit;
}

.cd-layout-sidebar-first .paragraph--type--content-item .field--name-field-category {
  margin-bottom: 1rem !important;
}

/* Reset the grid layout to a single column when Teaser Grid paragraph type is used in sidebar.
This is due to the individual teaser item being unavailable to Content Editors without first adding a Teaser Grid
Despite not needing a grid layout in the sidebar. */
.cd-layout-sidebar-first .paragraph--type--teaser-grid .cd-grid > * {
  flex: 0 0 100%;
}

.cd-layout-sidebar-first .paragraph--type--teaser-grid .cd-grid .field--type-entity-reference-revisions .paragraph--type--teaser-item {
  padding: 0;
}

@supports (display: grid) {
  .cd-layout-sidebar-first .paragraph--type--teaser-grid .cd-grid {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}
/* Control vertical rhythm for multiple Teaser Grids in sidebar with only a single item in each. */
.cd-layout-sidebar-first .paragraph--type--teaser-grid .field__item:last-child .paragraph--type--teaser-item {
  margin-bottom: 0;
}

.addressHighlight .address {
  width: 300px;
  padding: 20px;
  color: var(--cd-white);
  background-color: var(--brand-primary);
}

.addressHighlight h3 {
  margin-top: 0;
  color: var(--cd-white);
}

.addressHighlight a {
  color: #fff;
}

.addressHighlight p {
  margin-bottom: 0;
  color: #eee;
}

.addressHighlight.geneva {
  background: url("../../img/map-geneva.png") no-repeat top right;
}

.addressHighlight.nyc {
  background: url("../../img/map-nyc.png") no-repeat top right;
}

.section-menu-block .cd-sidebar__label {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: var(--brand-primary);
  border-bottom: 1px solid var(--brand-primary);
  font-size: 1.125rem;
  font-weight: 600;
}

.link-to-group {
  padding-left: 1.5rem;
  background-image: url("../../img/icons/arrow-back.svg");
  background-repeat: no-repeat;
  background-position: top 9px left 0;
  background-size: 9px 9px;
}

.select2-container--default .select2-search--inline .select2-search__field {
  width: auto !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  white-space: normal;
}

.select2-container--focus,
.select2-container--open {
  outline: 2px solid var(--cd-blue--bright) !important;
}

.taxonomy-term .field {
  margin-bottom: 1rem;
}

.path-taxonomy .view-header {
  margin-bottom: 3rem;
}

.profile .field,
.profile .flag {
  margin-bottom: 1rem;
}

.viewsreference--view-title {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: var(--brand-primary);
  border-bottom: 3px solid var(--cd-blue-grey);
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0;
}

.cd-layout-sidebar-first .viewsreference--view-title {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: var(--brand-primary);
  border-bottom: 1px solid var(--brand-primary);
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 0;
}

@media (min-width: 1200px) {
  .view-updates .view-header,
.view-iasc-group-content .view-header {
    padding-right: 0;
  }
}
.cd-layout-sidebar-first .views-exposed-form .form--inline {
  margin-bottom: 1rem;
}

.cd-layout-sidebar-first .views-exposed-form label {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: var(--brand-primary);
  border-bottom: 1px solid var(--brand-primary);
  font-size: 1.125rem;
  font-weight: 600;
}

.view-iasc-group-content .views-exposed-form .cd-form--inline .form-item,
.view-iasc-group-content .views-exposed-form .cd-form--inline .form-actions,
.view-search-content .views-exposed-form .cd-form--inline .form-item,
.view-search-content .views-exposed-form .cd-form--inline .form-actions,
.view-updates .views-exposed-form .cd-form--inline .form-item,
.view-updates .views-exposed-form .cd-form--inline .form-actions,
.view-resources .views-exposed-form .cd-form--inline .form-item,
.view-resources .views-exposed-form .cd-form--inline .form-actions,
.view-iasc-services .views-exposed-form .cd-form--inline .form-item,
.view-iasc-services .views-exposed-form .cd-form--inline .form-actions {
  margin: 0;
}

.view-iasc-group-content .views-exposed-form .cd-form--inline .form-item,
.view-iasc-group-content .views-exposed-form .cd-form--inline .form-actions,
.view-search-content .views-exposed-form .cd-form--inline .form-item,
.view-search-content .views-exposed-form .cd-form--inline .form-actions,
.view-updates .views-exposed-form .cd-form--inline .form-item,
.view-updates .views-exposed-form .cd-form--inline .form-actions,
.view-resources .views-exposed-form .cd-form--inline .form-item,
.view-resources .views-exposed-form .cd-form--inline .form-actions,
.view-iasc-services .views-exposed-form .cd-form--inline .form-item,
.view-iasc-services .views-exposed-form .cd-form--inline .form-actions label {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.region-facets .block-search h2,
.region-sidebar-first .block-search h2,
.region-sidebar-second .block-search h2 {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: var(--brand-primary);
  border-bottom: 1px solid var(--brand-primary);
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 0;
}

.region-facets .block-search form .cd-form--inline label,
.region-sidebar-first .block-search form .cd-form--inline label,
.region-sidebar-second .block-search form .cd-form--inline label {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.region-facets .block-search form .cd-form--inline .form-item,
.region-sidebar-first .block-search form .cd-form--inline .form-item,
.region-sidebar-second .block-search form .cd-form--inline .form-item,
.region-facets .block-search form .cd-form--inline .form-actions,
.region-sidebar-first .block-search form .cd-form--inline .form-actions,
.region-sidebar-second .block-search form .cd-form--inline .form-actions {
  margin-top: 0;
  margin-bottom: 0;
}

.region-facets .block-search form .cd-form--inline .form-item input[type=text],
.region-sidebar-first .block-search form .cd-form--inline .form-item input[type=text],
.region-sidebar-second .block-search form .cd-form--inline .form-item input[type=text],
.region-facets .block-search form .cd-form--inline .form-actions input[type=text],
.region-sidebar-first .block-search form .cd-form--inline .form-actions input[type=text],
.region-sidebar-second .block-search form .cd-form--inline .form-actions input[type=text] {
  padding: 0.25rem 0.5rem;
}

@media (min-width: 1024px) {
  .region-facets .block-search form .cd-form--inline .form-item input[type=text],
.region-sidebar-first .block-search form .cd-form--inline .form-item input[type=text],
.region-sidebar-second .block-search form .cd-form--inline .form-item input[type=text],
.region-facets .block-search form .cd-form--inline .form-actions input[type=text],
.region-sidebar-first .block-search form .cd-form--inline .form-actions input[type=text],
.region-sidebar-second .block-search form .cd-form--inline .form-actions input[type=text] {
    padding: 0.5rem;
    flex: 1 0 100%;
  }
}
.region-facets .block-search form .cd-form--inline .form-item .form-text,
.region-sidebar-first .block-search form .cd-form--inline .form-item .form-text,
.region-sidebar-second .block-search form .cd-form--inline .form-item .form-text {
  width: 100%;
}

.region-facets .block-search form .cd-form--inline .form-item .form-text:focus,
.region-sidebar-first .block-search form .cd-form--inline .form-item .form-text:focus,
.region-sidebar-second .block-search form .cd-form--inline .form-item .form-text:focus {
  outline: 2px solid var(--cd-blue--bright);
}

.region-facets .block-search form .cd-form--inline .form-actions input[type=submit],
.region-sidebar-first .block-search form .cd-form--inline .form-actions input[type=submit],
.region-sidebar-second .block-search form .cd-form--inline .form-actions input[type=submit] {
  width: 100%;
}

@media (min-width: 576px) {
  .region-facets .block-search form .cd-form--inline .form-actions input[type=submit],
.region-sidebar-first .block-search form .cd-form--inline .form-actions input[type=submit],
.region-sidebar-second .block-search form .cd-form--inline .form-actions input[type=submit] {
    max-width: 16rem;
  }
}
@media (min-width: 1024px) {
  .region-facets .block-search form .cd-form--inline .form-actions input[type=submit],
.region-sidebar-first .block-search form .cd-form--inline .form-actions input[type=submit],
.region-sidebar-second .block-search form .cd-form--inline .form-actions input[type=submit] {
    width: 100%;
    /* IE 11. */
    max-width: 100%;
    max-width: unset;
  }
}
@media (min-width: 1200px) {
  .region-facets .block-search form .cd-form--inline .form-actions input[type=submit],
.region-sidebar-first .block-search form .cd-form--inline .form-actions input[type=submit],
.region-sidebar-second .block-search form .cd-form--inline .form-actions input[type=submit] {
    flex-wrap: wrap;
  }
}
/* Services table */
@media (min-width: 576px) {
  .views-table .views-field-field-service-coverage {
    width: 30%;
  }
}
/* Adjust height to accommodate height of long th. */
@media (max-width: 575px) {
  .cd-table--responsive td.views-field-field-share-data {
    min-height: 8rem;
  }

  .cd-table--responsive td.views-field-field-service-coverage {
    min-height: 4rem;
  }
}
.view-header > p {
  margin-top: 0;
}

@media (max-width: 1023px) {
  .view-iasc-services .view-header h2 {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--cd-blue-grey);
  }
}
.pager {
  margin-bottom: 4rem;
}

@media (min-width: 1024px) {
  .pager {
    margin-bottom: 6rem;
  }
}
.more-link {
  display: block;
  text-align: right;
}

.view-filters {
  margin-bottom: 2rem;
}

/* Event teaser grid adjustments. */
.cd-grid--2-col .cd-teaser__container {
  margin-top: 0;
}

@media (min-width: 768px) {
  .cd-grid--2-col .cd-teaser__container .view-content .views-row {
    /* Reset cd-flow when 2 columns. */
    margin-top: 0;
    /* Horizontal spacing. */
    padding-left: 0.5rem;
  }

  .cd-grid--2-col .cd-teaser__container .view-content .views-row:nth-child(2n+1) {
    padding-right: 0.5rem;
    padding-left: 0;
  }
}
.cd-pager__item.is-active a {
  background-color: var(--brand-primary);
}

.cd-pager__item a:hover,
.cd-pager__item a:focus {
  background-color: var(--iasc-secondary);
}

/*# sourceMappingURL=styles.css.map */
