@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400%3B500%3B700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:ital,wght@0,300%3B0,400%3B0,500%3B0,700%3B0,900%3B1,400%3B1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400%3B700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400%3B700&display=swap");
:root {
  /* Color palette */
  /* OCHA blue is one colour ramp darker than brand blue */
  --cd-ocha-blue: #1f69b3;
  /* Dark blue is two colour ramps darker than brand blue */
  --cd-blue--dark: #144372;
  /* Bright blue is one colour ramp lighter than brand blue */
  --cd-blue--bright: #82b5e9;
  --cd-blue--light: #d4e5f7;
  --cd-highlight-red: #e56a54;
  --cd-contrast-red: #e00000;
  --cd-white: #fff;
  --cd-grey--light: #f2f2f2;
  --cd-grey--mid: #595959;
  --cd-grey--dark: #4a4a4a;
  --cd-default-text-color: var(--cd-grey--dark);
  --cd-black: #000;
  --cd-blue-grey: #e6ecf1;
  --cd-blue-grey--dark: #d3dde5;
  --cd-blue-grey--light: #ebf0f4;
  --cd-rgb-ocha-blue: 2, 108, 182;
  --cd-rgb-grey--mid: 89, 89, 89;
  --cd-rgb-grey--dark: 74, 74, 74;
  --cd-rgb-highlight-red: 229, 106, 84;
  --cd-rgb-blue-grey--dark: 211, 221, 229;
  /* Measurements */
  --cd-max-content-width: 820px;
  --cd-max-body-width: 1400px;
  --cd-max-width: 1220px;
  --cd-container-padding: 0.75rem;
  /* 12px */
  --cd-container-padding-tablet: 1.5rem;
  /* 24px */
  --cd-container-padding-xlarge: 2.5rem;
  /* 40px */
  /* Vertical Rhythm */
  --cd-flow-space: 1rem;
  --cd-bumper-space: 1rem;
  --cd-footer-row-number: 5;
  /* From https://brand.unocha.org/d/xEPytAUjC3sH/visual-identity#/basics/colours */
  --cd-red: #cd3a1f;
  --cd-red--light: #f8d8d3;
  --cd-orange: #db7b18;
  --cd-orange--light: #fae6d1;
  --cd-yellow: #d5de26;
  --cd-yellow--light: #f7f8d3;
  --cd-green: #7fb92f;
  --cd-green--light: #e8f5d6;
  /* Fonts sizes in REMs */
  --cd-font-size--tiny: 0.75rem;
  /* 12px */
  --cd-font-size--small: 0.875rem;
  /* 14px */
  --cd-font-size--base: 1.125rem;
  /* 18px */
  --cd-font-size--medium: 1.375rem;
  /* 22px */
  --cd-font-size--large: 1.625rem;
  /* 26px */
  --cd-font-size--2xbase: 1.875rem;
  /* 30px */
  --cd-font-size--2xmedium: 2.375rem;
  /* 38px */
  --cd-font-size--2xlarge: 2.875rem;
  /* 46px */
  /* Fonts */
  --cd-font: helvetica, arial, sans-serif;
  --cd-font--system: system-ui;
  --cd-font--noto: "Noto Sans", sans-serif;
  --cd-font--noto-kufi: "Noto Kufi Arabic", sans-serif;
  --cd-font--roboto: "Roboto", helvetica, arial, sans-serif;
  --cd-font--roboto-condensed: "Roboto Condensed", helvetica, arial, sans-serif;
  --cd-font--roboto-slab: "Roboto Slab", helvetica, arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  color: #272e67;
}

a {
  color: #145f7b;
}
a:hover, a:focus {
  text-decoration: none;
  color: #272e67;
}

.cd-heading-2, .viewsreference--view-title, .cd-layout-main-content .paragraph--type--section-menu > .cd-sidebar__label,
.cd-layout-main-content .paragraph--type--twitter > .cd-sidebar__label,
.cd-layout-main-content .paragraph--type--reliefweb-feed > h2,
.cd-layout-main-content .paragraph--type--list > h2,
.cd-layout-main-content .paragraph--type--teaser-grid > h2,
.cd-layout-main-content .paragraph--type--paragraph-content > .field--name-field-para-title,
.cd-layout-main-content .paragraph--type--content-item .field--name-field-para-title,
.cd-layout-main-content .paragraph--type--video .field--name-field-para-title,
.cd-layout-main-content .paragraph--type--paragraph-text .field--name-field-para-title,
.cd-layout-main-content .paragraph--type--contact-list > .field--name-field-contacts > .field__label,
.cd-layout-main-content .paragraph--type--contact-list .field--name-field-list-title, .field--name-field-header h2,
.field--name-field-header .viewsreference--view-title, .field--name-field-meeting-notes > .field__label,
.field--name-field-meeting-agendas > .field__label,
.field--name-field-oa-section > .field__label,
.field--name-field-iasc-audience > .field__label,
.field--name-field-membership > .field__label,
.field--name-group-content-access > .field__label,
.field--name-field-ap-responsibility > .field__label,
.field--name-field-host > .field__label,
.field--name-field-info-private > .field__label,
.field--name-field-oa-media > .field__label,
.field--name-field-main-image > .field__label,
.field--name-field-media-files > .field__label {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: #272e67;
  border-bottom: 3px solid var(--cd-blue-grey);
  font-size: 1.5rem;
  font-weight: 400;
}
.path-frontpage .cd-heading-2, .path-frontpage .viewsreference--view-title, .path-frontpage .cd-layout-main-content .paragraph--type--section-menu > .cd-sidebar__label, .cd-layout-main-content .path-frontpage .paragraph--type--section-menu > .cd-sidebar__label,
.path-frontpage .cd-layout-main-content .paragraph--type--twitter > .cd-sidebar__label,
.cd-layout-main-content .path-frontpage .paragraph--type--twitter > .cd-sidebar__label,
.path-frontpage .cd-layout-main-content .paragraph--type--reliefweb-feed > h2,
.cd-layout-main-content .path-frontpage .paragraph--type--reliefweb-feed > h2,
.path-frontpage .cd-layout-main-content .paragraph--type--list > h2,
.cd-layout-main-content .path-frontpage .paragraph--type--list > h2,
.path-frontpage .cd-layout-main-content .paragraph--type--teaser-grid > h2,
.cd-layout-main-content .path-frontpage .paragraph--type--teaser-grid > h2,
.path-frontpage .cd-layout-main-content .paragraph--type--paragraph-content > .field--name-field-para-title,
.cd-layout-main-content .path-frontpage .paragraph--type--paragraph-content > .field--name-field-para-title,
.path-frontpage .cd-layout-main-content .paragraph--type--content-item .field--name-field-para-title,
.cd-layout-main-content .paragraph--type--content-item .path-frontpage .field--name-field-para-title,
.path-frontpage .cd-layout-main-content .paragraph--type--video .field--name-field-para-title,
.cd-layout-main-content .paragraph--type--video .path-frontpage .field--name-field-para-title,
.path-frontpage .cd-layout-main-content .paragraph--type--paragraph-text .field--name-field-para-title,
.cd-layout-main-content .paragraph--type--paragraph-text .path-frontpage .field--name-field-para-title,
.path-frontpage .cd-layout-main-content .paragraph--type--contact-list > .field--name-field-contacts > .field__label,
.cd-layout-main-content .path-frontpage .paragraph--type--contact-list > .field--name-field-contacts > .field__label,
.path-frontpage .cd-layout-main-content .paragraph--type--contact-list .field--name-field-list-title,
.cd-layout-main-content .paragraph--type--contact-list .path-frontpage .field--name-field-list-title, .path-frontpage .field--name-field-header h2, .field--name-field-header .path-frontpage h2, .path-frontpage .field--name-field-meeting-notes > .field__label,
.path-frontpage .field--name-field-meeting-agendas > .field__label,
.path-frontpage .field--name-field-oa-section > .field__label,
.path-frontpage .field--name-field-iasc-audience > .field__label,
.path-frontpage .field--name-field-membership > .field__label,
.path-frontpage .field--name-group-content-access > .field__label,
.path-frontpage .field--name-field-ap-responsibility > .field__label,
.path-frontpage .field--name-field-host > .field__label,
.path-frontpage .field--name-field-info-private > .field__label,
.path-frontpage .field--name-field-oa-media > .field__label,
.path-frontpage .field--name-field-main-image > .field__label,
.path-frontpage .field--name-field-media-files > .field__label {
  font-size: 1.8rem;
  font-weight: 600;
}

.cd-heading-3, .region-facets .block-search h2,
.region-sidebar-first .block-search h2,
.region-sidebar-second .block-search h2, .cd-layout-sidebar-first .views-exposed-form label, .cd-layout-sidebar-first .viewsreference--view-title, .section-menu-block .cd-sidebar__label, .cd-layout-sidebar-first .paragraph--type--section-menu > .cd-sidebar__label,
.cd-layout-sidebar-first .paragraph--type--twitter > .cd-sidebar__label,
.cd-layout-sidebar-first .paragraph--type--reliefweb-feed > h2,
.cd-layout-sidebar-first .paragraph--type--list > h2,
.cd-layout-sidebar-first .paragraph--type--teaser-grid > h2,
.cd-layout-sidebar-first .paragraph--type--paragraph-content > .field--name-field-para-title,
.cd-layout-sidebar-first .paragraph--type--content-item .field--name-field-para-title,
.cd-layout-sidebar-first .paragraph--type--video .field--name-field-para-title,
.cd-layout-sidebar-first .paragraph--type--paragraph-text .field--name-field-para-title,
.cd-layout-sidebar-first .paragraph--type--contact-list > .field--name-field-contacts > .field__label,
.cd-layout-sidebar-first .paragraph--type--contact-list .field--name-field-list-title, .path-frontpage .field--name-field-content .viewsreference--view-title, .block-facets h2, .cd-layout-sidebar-first .cd-location > .field__label,
.cd-layout-sidebar-first .cd-location .cd-sidebar__label,
.cd-layout-sidebar-first .field--name-field-contact > .field__label,
.cd-layout-sidebar-first .field--name-field-contact .cd-sidebar__label,
.cd-layout-sidebar-first .field--name-field-meeting-notes > .field__label,
.cd-layout-sidebar-first .field--name-field-meeting-notes .cd-sidebar__label,
.cd-layout-sidebar-first .field--name-field-meeting-agendas > .field__label,
.cd-layout-sidebar-first .field--name-field-meeting-agendas .cd-sidebar__label,
.cd-layout-sidebar-first .field--name-field-oa-section > .field__label,
.cd-layout-sidebar-first .field--name-field-oa-section .cd-sidebar__label,
.cd-layout-sidebar-first .field--name-field-iasc-audience > .field__label,
.cd-layout-sidebar-first .field--name-field-iasc-audience .cd-sidebar__label,
.cd-layout-sidebar-first .field--name-field-links > .field__label,
.cd-layout-sidebar-first .field--name-field-links .cd-sidebar__label,
.cd-layout-sidebar-first .field--name-field-membership > .field__label,
.cd-layout-sidebar-first .field--name-field-membership .cd-sidebar__label,
.cd-layout-sidebar-first .field--name-field-date-closed > .field__label,
.cd-layout-sidebar-first .field--name-field-date-closed .cd-sidebar__label,
.cd-layout-sidebar-first .field--name-field-external-link > .field__label,
.cd-layout-sidebar-first .field--name-field-external-link .cd-sidebar__label,
.cd-layout-sidebar-first .field--name-group-content-access > .field__label,
.cd-layout-sidebar-first .field--name-group-content-access .cd-sidebar__label,
.cd-layout-sidebar-first .field--name-field-ap-responsibility > .field__label,
.cd-layout-sidebar-first .field--name-field-ap-responsibility .cd-sidebar__label,
.cd-layout-sidebar-first .field--name-field-referenced-docs > .field__label,
.cd-layout-sidebar-first .field--name-field-referenced-docs .cd-sidebar__label,
.cd-layout-sidebar-first .field--name-field-host > .field__label,
.cd-layout-sidebar-first .field--name-field-host .cd-sidebar__label,
.cd-layout-sidebar-first .field--name-field-category > .field__label,
.cd-layout-sidebar-first .field--name-field-category .cd-sidebar__label, .field--name-field-ai-title, .block--type-block-with-text-and-link .field--name-field-block-title, .paragraph--type--custom-block .field--name-field-block-title {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: #272e67;
  border-bottom: 1px solid #272e67;
  font-size: 1.125rem;
  font-weight: 600;
}

@media (min-width: 1200px) {
  [dir=ltr] .cd-layout-with-sidebar .cd-page-title {
    padding-right: 320px;
  }
  [dir=rtl] .cd-layout-with-sidebar .cd-page-title {
    padding-left: 320px;
  }
  .cd-layout-with-sidebar-first .cd-page-title, .cd-layout-with-sidebar-second .cd-page-title, .cd-layout-with-sidebar-both .cd-page-title {
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Global header specific dropdown styles.
 */
.cd-global-header__dropdown {
  background: #272e67;
}

.cd-global-header button[aria-expanded=true]::before {
  border-color: transparent transparent #272e67;
}

.menu--main button[aria-expanded] .cd-icon--arrow-down {
  fill: #ff4d59;
}

.cd-footer {
  --cd-footer-row-number: 6;
  grid-row: var(--cd-footer-row-number)/var(--cd-footer-row-number);
  color: var(--cd-white);
  background: #272e67;
}

.cd-global-header {
  color: var(--cd-white);
  background: #272e67;
  background-image: linear-gradient(-180deg, #272e67 67%, #1c2149 97%);
}

@supports (display: grid) {
  .cd-site-header__inner {
    grid-template-columns: 100px 1fr;
  }
  @media (min-width: 768px) {
    .cd-site-header__inner {
      grid-template-columns: 220px 1fr;
    }
  }
}

.cd-header {
  margin-bottom: 20px;
}

#cd-language li a:hover, #cd-language li a:focus {
  color: #ff4d59;
}

@supports (object-fit: cover) {
  .path-frontpage:not(.user-logged-in) .cd-layout-container main.cd-container {
    padding-top: 0;
  }
}

.cd-layout-two-col .cd-layout-main-content iframe {
  max-width: 100%;
}

.cd-site-logo {
  width: 100px;
  background: url("../img/logos/logo-mobile.svg") center no-repeat;
  background-size: contain;
}

@media (min-width: 768px) {
  .cd-site-logo {
    width: 220px;
    background: none;
  }
  .cd-site-logo img {
    width: auto;
  }
}
.cd-nav__btn[aria-expanded] .cd-icon--arrow-down {
  fill: #ff4d59;
}
.cd-nav__btn[aria-expanded=true]::before {
  background: #ff4d59;
}

@media (max-width: 1023px) {
  .cd-site-header__nav-holder .cd-nav > ul > li > a.is-active::before,
.cd-site-header__nav-holder .cd-nav > ul > li > button.is-active::before {
    background: #ff4d59;
  }
  .cd-site-header__nav-holder .cd-nav > ul > li.menu-item--collapsed > a.is-active::before,
.cd-site-header__nav-holder .cd-nav > ul > li.menu-item--collapsed > button.is-active::before, .cd-site-header__nav-holder .cd-nav > ul > li.menu-item--expanded > a.is-active::before,
.cd-site-header__nav-holder .cd-nav > ul > li.menu-item--expanded > button.is-active::before {
    background: rgba(255, 77, 89, 0.2);
  }
  .cd-site-header__nav-holder .cd-nav > ul > li.menu-item--active-trail a::before,
.cd-site-header__nav-holder .cd-nav > ul > li.menu-item--active-trail button::before {
    background: rgba(255, 77, 89, 0.2);
  }
  .cd-site-header__nav-holder .cd-nav > ul > li.menu-item--active-trail a.is-active::before,
.cd-site-header__nav-holder .cd-nav > ul > li.menu-item--active-trail button.is-active::before {
    background: #ff4d59;
  }
  .cd-site-header__nav-holder .cd-nav > ul > li > ul > li.menu-item--active-trail a::before,
.cd-site-header__nav-holder .cd-nav > ul > li > ul > li.menu-item--active-trail button::before {
    background: rgba(255, 77, 89, 0.6);
  }
  .cd-site-header__nav-holder .cd-nav > ul > li > ul > li.menu-item--active-trail a.is-active::before,
.cd-site-header__nav-holder .cd-nav > ul > li > ul > li.menu-item--active-trail button.is-active::before {
    background: #ff4d59;
  }
}
@media (min-width: 1024px) {
  .cd-site-header__nav-holder .cd-nav > .menu > .menu-item.menu-item--active-trail a::before, .cd-site-header__nav-holder .cd-nav > .menu > .menu-item.menu-item--active-trail button::before {
    background: #ff4d59;
  }
  .cd-site-header__nav-holder .cd-nav > .menu > .menu-item > a.is-active::before, .cd-site-header__nav-holder .cd-nav > .menu > .menu-item > a:focus::before,
.cd-site-header__nav-holder .cd-nav > .menu > .menu-item button.is-active::before,
.cd-site-header__nav-holder .cd-nav > .menu > .menu-item button:focus::before {
    background: #ff4d59;
  }
  .cd-site-header__nav-holder .cd-nav > .menu > li > ul a.is-active,
.cd-site-header__nav-holder .cd-nav > .menu > li > ul button.is-active {
    border-left: 3px solid #ff4d59;
  }
  .cd-site-header__nav-holder .cd-nav > .menu > li > ul > li.menu-item--active-trail .is-active {
    border-left: 3px solid #ff4d59;
  }
}

.cd-ocha-dropdown__link a:hover, .cd-ocha-dropdown__link a:focus {
  border-color: var(--cd-white);
}

a.cd-ocha-dropdown__see-all {
  color: #272e67;
  background: #ff715b;
}
a.cd-ocha-dropdown__see-all:hover, a.cd-ocha-dropdown__see-all:focus {
  color: #1c2149;
  background: rgba(255, 113, 91, 0.8);
}

.cd-search__btn {
  color: #272e67;
}
.cd-search__btn svg {
  fill: #272e67;
}
.cd-search__btn:hover, .cd-search__btn:focus {
  color: #145f7b;
}
.cd-search__btn:hover svg, .cd-search__btn:focus svg {
  fill: #145f7b;
}
.cd-search__btn:focus {
  color: #ff4d59;
}
.cd-search__btn:focus svg {
  fill: #ff4d59;
}
.cd-search__btn[aria-expanded=true] {
  color: #ff4d59;
}
.cd-search__btn[aria-expanded=true] svg {
  fill: #ff4d59;
}

.cd-search__submit {
  background: #145f7b;
}
.cd-search__submit:focus {
  background-color: #ff4d59;
}

.cd-soft-footer {
  background: rgba(39, 46, 103, 0.9);
}
.cd-soft-footer .button {
  padding: 10px 12px;
  text-transform: uppercase;
  color: #272e67;
  background: #ff715b;
  font-weight: 700;
}
.cd-soft-footer .button:hover, .cd-soft-footer .button:focus {
  background: #ff5b42;
}
@media (min-width: 768px) {
  .cd-soft-footer .button {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .cd-soft-footer__inner {
    justify-content: flex-start;
  }
  .cd-soft-footer__inner form {
    margin-left: 20px;
  }
  .cd-soft-footer__inner input[type=email] {
    padding: 0.25rem 0.5rem;
  }
}
.cd-user-menu__item::after {
  background: var(--cd-white);
}

.cd-user-menu, .region-header-top .menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.cd-user-menu li, .region-header-top .menu li {
  position: relative;
  float: left;
}
.cd-user-menu--no-language-switcher li:last-child a, .region-header-top .menu li:last-child a {
  padding-right: 0;
}
.cd-user-menu--no-language-switcher li:last-child a::after, .region-header-top .menu li:last-child a::after {
  content: none;
}

.cd-filter__btn {
  background-color: #272e67;
}

.cd-filter__btn:hover {
  background-color: #1c2149;
}

.cd-filter__btn:focus {
  border: 2px solid var(--cd-blue--bright);
}

.block--type-block-with-text-and-link, .paragraph--type--custom-block {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.block--type-block-with-text-and-link .field--name-field-block-title, .paragraph--type--custom-block .field--name-field-block-title {
  margin-top: 0;
}
.block--type-block-with-text-and-link .field--name-field-description, .paragraph--type--custom-block .field--name-field-description {
  margin-bottom: 1rem;
}
.block--type-block-with-text-and-link .field--name-field-link, .paragraph--type--custom-block .field--name-field-link {
  margin-bottom: 1rem;
}
.block--type-block-with-text-and-link .field--name-field-link a, .paragraph--type--custom-block .field--name-field-link a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem;
  transition: background 0.3s ease;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--cd-white);
  border: 1px solid var(--cd-ocha-blue);
  background: var(--cd-ocha-blue);
  font-size: var(--cd-font-size--small);
  font-weight: bold;
}
.block--type-block-with-text-and-link .field--name-field-link a::after, .paragraph--type--custom-block .field--name-field-link a::after {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: 1rem;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%23fff' d='M35,20.65V42H6V18H22.09l9-9H4.2A2.2,2.2,0,0,0,2,11.2V43.8A2.2,2.2,0,0,0,4.2,46H36.8A2.2,2.2,0,0,0,39,43.8V16.65ZM12.5,12A1.5,1.5,0,1,1,11,13.5,1.5,1.5,0,0,1,12.5,12Zm-5,0A1.5,1.5,0,1,1,6,13.5,1.5,1.5,0,0,1,7.5,12Z'/%3E%3Cpath fill='%23fff' d='M44,2H23a2,2,0,0,0,0,4H39L16.51,28.52a2.1,2.1,0,0,0,3,3L42,9V25a2,2,0,0,0,4,0V4A2,2,0,0,0,44,2Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.block--type-block-with-text-and-link .field--name-field-link a:hover, .paragraph--type--custom-block .field--name-field-link a:hover, .block--type-block-with-text-and-link .field--name-field-link a:focus, .paragraph--type--custom-block .field--name-field-link a:focus {
  color: var(--cd-white);
  background: var(--cd-blue--dark);
}
.block--type-block-with-text-and-link .field--name-field-link a:focus, .paragraph--type--custom-block .field--name-field-link a:focus {
  outline: 3px solid var(--cd-blue--bright);
}
@media (min-width: 576px) {
  .block--type-block-with-text-and-link .field--name-field-link a, .paragraph--type--custom-block .field--name-field-link a {
    max-width: 16rem;
  }
}
@media (min-width: 768px) {
  .block--type-block-with-text-and-link .field--name-field-link a, .paragraph--type--custom-block .field--name-field-link a {
    width: 100%;
    max-width: unset;
  }
}

.cd-layout-content .block--type-block-with-text-and-link, .cd-layout-content .paragraph--type--custom-block,
.cd-layout-main-content .block--type-block-with-text-and-link,
.cd-layout-main-content .paragraph--type--custom-block {
  margin-bottom: 4rem;
}
@media (min-width: 768px) {
  .cd-layout-content .block--type-block-with-text-and-link, .cd-layout-content .paragraph--type--custom-block,
.cd-layout-main-content .block--type-block-with-text-and-link,
.cd-layout-main-content .paragraph--type--custom-block {
    float: left;
    max-width: 50%;
    margin-bottom: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 1024px) {
  .node--type-panopoly-landing-page .field--name-field-content .field__item:last-child .paragraph--type--custom-block {
    padding-right: 0;
    padding-left: 1rem;
  }

  .region-content > .block--type-block-with-text-and-link:last-child, .region-content > .paragraph--type--custom-block:last-child {
    padding-right: 0;
    padding-left: 1rem;
  }
}
.group--view-mode-full .field,
.node--view-mode-full .field {
  margin-bottom: 1rem;
}
.group--view-mode-full .field--label-inline,
.node--view-mode-full .field--label-inline {
  overflow: hidden;
}

.field--name-field-ai-title {
  margin-bottom: 1rem;
  font-weight: bold;
}

.field--name-field-content .field--type-viewsreference {
  margin-bottom: 2rem !important;
}

.field--name-field-description {
  margin-bottom: 2rem;
}

.group--view-mode-search-result .field--name-field-description {
  margin-bottom: 0;
}

.field--name-field-meeting-notes,
.field--name-field-meeting-agendas,
.field--name-field-oa-section,
.field--name-field-iasc-audience,
.field--name-field-membership,
.field--name-group-content-access,
.field--name-field-ap-responsibility,
.field--name-field-host,
.field--name-field-info-private,
.field--name-field-oa-media,
.field--name-field-main-image,
.field--name-field-media-files {
  margin-bottom: 2rem !important;
}
.field--name-field-meeting-notes .field__item,
.field--name-field-meeting-agendas .field__item,
.field--name-field-oa-section .field__item,
.field--name-field-iasc-audience .field__item,
.field--name-field-membership .field__item,
.field--name-group-content-access .field__item,
.field--name-field-ap-responsibility .field__item,
.field--name-field-host .field__item,
.field--name-field-info-private .field__item,
.field--name-field-oa-media .field__item,
.field--name-field-main-image .field__item,
.field--name-field-media-files .field__item {
  margin-bottom: 1rem;
}

.cd-layout-sidebar-first .cd-location,
.cd-layout-sidebar-first .field--name-field-contact,
.cd-layout-sidebar-first .field--name-field-meeting-notes,
.cd-layout-sidebar-first .field--name-field-meeting-agendas,
.cd-layout-sidebar-first .field--name-field-oa-section,
.cd-layout-sidebar-first .field--name-field-iasc-audience,
.cd-layout-sidebar-first .field--name-field-links,
.cd-layout-sidebar-first .field--name-field-membership,
.cd-layout-sidebar-first .field--name-field-date-closed,
.cd-layout-sidebar-first .field--name-field-external-link,
.cd-layout-sidebar-first .field--name-group-content-access,
.cd-layout-sidebar-first .field--name-field-ap-responsibility,
.cd-layout-sidebar-first .field--name-field-referenced-docs,
.cd-layout-sidebar-first .field--name-field-host,
.cd-layout-sidebar-first .field--name-field-category {
  margin-bottom: 2rem !important;
}
.cd-layout-sidebar-first .node--view-mode-bio-long .field--name-field-organisation,
.cd-layout-sidebar-first .node--view-mode-bio-short .field--name-field-organisation {
  margin-bottom: 0 !important;
}

.node--view-mode-bio-long .field,
.node--view-mode-bio-short .field,
.node--type-contact .field--name-field-organisation,
.node--type-contact .field--name-field-position,
.node--type-contact .field--name-field-email {
  margin-bottom: 0;
}

.cd-layout-sidebar-first > .cd-sidebar {
  margin-bottom: 1rem !important;
}

.field--name-field-iasc-group-space {
  margin-top: 2rem;
}

.field--name-field-referenced-docs > .field__label {
  margin-bottom: 1rem;
}

.field--name-field-banner-text,
.field--name-field-oa-banner-text {
  margin-top: -1rem;
  text-align: right;
  font-size: 0.9rem;
  font-style: italic;
}

.field--name-field-service-coverage-region ul,
.field--name-field-kind-of-data ul,
.field--name-field-relevant-hpc-stage ul,
.field--name-field-services ul,
.field--name-field-interest ul,
.field--name-field-links-to-relevant-docs ul,
.field--name-field-iasc-group-space ul,
.field--name-field-referenced-docs ul,
.field--name-field-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.field--name-field-service-coverage-region ul li,
.field--name-field-kind-of-data ul li,
.field--name-field-relevant-hpc-stage ul li,
.field--name-field-services ul li,
.field--name-field-interest ul li,
.field--name-field-links-to-relevant-docs ul li,
.field--name-field-iasc-group-space ul li,
.field--name-field-referenced-docs ul li,
.field--name-field-links ul li {
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  background-image: url("../img/icons/list-bullet.svg");
  background-repeat: no-repeat;
  background-position: top 7px left 0;
  background-size: 9px 9px;
}

.field--name-field-examples-and-case-studies .field__item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.field--name-field-examples-and-case-studies .field__item ul li {
  position: relative;
  display: block;
  margin-bottom: 1rem;
}
.field--name-field-examples-and-case-studies .field__item ul li::before {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-right: 1rem;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%5C %3Cpath fill='%23ff4d59' d='M14,48a4,4,0,0,1-2.83-6.83L28.34,24,11.17,6.83a4,4,0,0,1,5.66-5.66l20,20a4,4,0,0,1,0,5.66l-20,20A4,4,0,0,1,14,48Z'/%3E%5C %3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.field--name-field-meeting-notes > .field__items > .field__item,
.field--name-field-meeting-agendas > .field__items > .field__item {
  padding-bottom: 1rem;
}

aside .field--name-field-meeting-agendas > .field__items > .field__item {
  padding-bottom: 0;
}

aside .field--name-field-meeting-agendas .field__items .field__item .field--name-field-published-date .field__item {
  margin-bottom: 0;
}

.field--name-field-meeting-notes svg,
.field--name-field-meeting-agendas svg {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-right: 1rem;
  fill: var(--iasc-highlight);
}

.field--name-field-membership > .field__items > .field__item + .field__item,
.field--name-field-contact > .field__items > .field__item + .field__item,
.field--name-field-contacts > .field__item + .field__item {
  margin: 1rem 0;
  padding-top: 1rem;
  border-top: 1px solid var(--cd-blue-grey);
}

.field__item p:first-child {
  margin-top: 0;
}

.field__label {
  font-weight: bold;
}

.field--label-inline .field__label,
.field--label-inline .field__items {
  float: left;
  /* LTR */
}

.field--label-inline .field__label,
.field--label-inline > .field__item,
.field--label-inline .field__items {
  padding-right: 0.5em;
}

[dir=rtl] .field--label-inline .field__label,
[dir=rtl] .field--label-inline .field__items {
  padding-right: 0;
  padding-left: 0.5em;
}

.field--label-inline .field__label::after {
  content: ":";
}

.field--name-field-summary-of-recommendat,
.field--name-field-description-implementation,
.field--name-body.field--type-text-with-summary {
  max-width: var(--cd-max-content-width);
}

.field--name-field-email a {
  word-break: break-word;
}

.block-facets .form-item,
.block-facets .form-actions {
  margin-top: 0;
  margin-bottom: 0;
}

.block-facets select {
  width: 100%;
}

.block-facets .select2-container {
  overflow: hidden;
}

.block-facets .select2-container--default .select2-search--inline .select2-search__field {
  width: auto !important;
}

.block-facets .select2-container .select2-selection--single .select2-selection__rendered,
.block-facets .select2-container .select2-selection--multiple .select2-selection__rendered {
  white-space: unset;
}

.select2-container--open,
.select2-container--focus,
.item-list__dropdown:focus {
  outline: 2px solid var(--cd-blue--bright);
}

.group--unpublished {
  background-color: #fff4f4;
}

.operations.form-actions {
  margin: 4rem 0;
}
.operations.form-actions input[type=submit] {
  display: block;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .operations.form-actions input[type=submit] {
    max-width: 16rem;
  }
}

.paragraph--type--services-landing-block form {
  margin-bottom: 4rem;
  border-bottom: 1px solid var(--cd-blue-grey);
}
@media (min-width: 1024px) {
  .paragraph--type--services-landing-block form {
    margin-bottom: 6rem;
  }
}
.paragraph--type--services-landing-block .cd-form__group {
  margin-bottom: 2rem;
}
.paragraph--type--services-landing-block label {
  margin-bottom: 0.25rem;
  color: #272e67;
  font-size: 1.5rem;
  font-weight: 400;
}
.paragraph--type--services-landing-block select {
  width: 100%;
}

.media--type-remote-video .field--name-field-media-oembed-video {
  position: relative;
  float: none;
  clear: both;
  width: 100%;
  height: 0;
  padding-top: 25px;
  padding-bottom: 56.25%;
}
.media--type-remote-video .field--name-field-media-oembed-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.more-link a {
  position: relative;
  margin-bottom: 1rem;
  text-decoration: none;
}
.more-link a::after {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 1rem;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%5C %3Cpath fill='%23ff4d59' d='M14,48a4,4,0,0,1-2.83-6.83L28.34,24,11.17,6.83a4,4,0,0,1,5.66-5.66l20,20a4,4,0,0,1,0,5.66l-20,20A4,4,0,0,1,14,48Z'/%3E%5C %3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.node__read-more {
  text-align: right;
}
.node__read-more a {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}
.node__read-more a:hover, .node__read-more a:focus {
  text-decoration: underline;
}
.node__read-more svg {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 1rem;
  fill: #ff4d59;
}

.field--name-field-header .block,
.field--name-field-header .field--type-viewsreference {
  margin-bottom: 3rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--cd-blue-grey);
}
.field--name-field-header h2,
.field--name-field-header .viewsreference--view-title {
  margin-top: 0;
  text-align: center;
}
.field--name-field-header .paragraph {
  margin-bottom: 2rem;
}
.field--name-field-header .paragraph.paragraph--type--hero {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  body:not(.path-frontpage) .paragraph.paragraph--type--hero {
    margin-bottom: 3rem;
  }
}

.field--name-field-sidebar .paragraph,
.field--name-field-content .paragraph,
.field--name-field-footer .paragraph {
  margin-bottom: 1rem;
}
.field--name-field-sidebar .paragraph--type--contact-list,
.field--name-field-content .paragraph--type--contact-list,
.field--name-field-footer .paragraph--type--contact-list {
  margin-bottom: 2rem;
}

.path-frontpage .field--name-field-content .viewsreference--view-title {
  margin-top: 1rem;
}

.path-frontpage .cd-layout-sidebar-first .viewsreference--view-title {
  margin-top: 1rem;
}

.node__meta {
  margin-bottom: 2rem;
}

.node--type-oa-event.node--view-mode-full .cd-teaser__date {
  min-height: 80px;
  margin-bottom: 1rem;
}

.align-left {
  margin-right: 1rem;
}

.align-right {
  margin-left: 1rem;
}

.field--name-field-global-focal-point {
  background: var(--cd-blue-grey--light);
}

.node--view-mode-no-title {
  margin-bottom: 2rem;
}

.node--type-service.node--view-mode-full .cd-layout-main-content > .field, .node--type-service.node--view-mode-teaser .node__content > .field {
  margin-bottom: 2rem;
}
.node--type-service .field__label {
  margin-bottom: 0.5rem;
}
.node--type-service .cd-layout-sidebar-first textarea {
  width: 100%;
}

.node--type-oa-event.node--view-mode-teaser {
  min-height: 8rem;
}
.node--type-oa-event.node--view-mode-teaser .cd-teaser__image {
  position: relative;
  min-height: 80px;
}
.node--type-oa-event.node--view-mode-teaser .cd-date {
  margin-bottom: 1rem;
}
.node--type-oa-event.node--view-mode-teaser h3 {
  margin-top: 0;
}
.node--type-oa-event.node--view-mode-teaser .cd-teaser__container {
  margin-top: 0;
}
.node--type-oa-event.node--view-mode-full .cd-date {
  margin-right: 1rem;
}
.node--type-oa-event .cd-date__wrapper {
  background-color: #272e67;
}
.node--type-oa-event .cd-date__wrapper + .cd-date__wrapper {
  background-color: transparent;
}
.node--type-oa-event .cd-date__month,
.node--type-oa-event .cd-date__year {
  color: #272e67;
}

.cd-grid--2-col .node--type-oa-event.node--view-mode-teaser.cd-teaser {
  border-bottom: 0 none;
}

.paragraph--type--hero .field,
.paragraph--type--teaser-item .field,
.paragraph--type--teaser-grid .field,
.paragraph--type--list-item .field,
.paragraph--type--list .field,
.paragraph--type--view .field,
.paragraph--type--twitter .field {
  margin-bottom: 0;
}

.paragraph--type--section-menu {
  margin-bottom: 2rem;
}

.paragraph--type--paragraph-content,
.paragraph--type--paragraph-text {
  clear: both;
  margin-bottom: 2rem;
}
.paragraph--type--paragraph-content .field--name-field-teaser-image,
.paragraph--type--paragraph-text .field--name-field-teaser-image {
  max-width: 300px;
  margin-bottom: 1rem;
}
.paragraph--type--paragraph-content h2,
.paragraph--type--paragraph-content h3,
.paragraph--type--paragraph-content p,
.paragraph--type--paragraph-text h2,
.paragraph--type--paragraph-text h3,
.paragraph--type--paragraph-text p {
  margin-top: 0;
}
.paragraph--type--paragraph-content ul,
.paragraph--type--paragraph-text ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.paragraph--type--paragraph-content ul li,
.paragraph--type--paragraph-text ul li {
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  background-image: url("../img/icons/list-bullet.svg");
  background-repeat: no-repeat;
  background-position: top 7px left 0;
  background-size: 9px 9px;
}
.paragraph--type--paragraph-content.paragraph__image--align-left .field--name-field-paragraph-text p:last-child,
.paragraph--type--paragraph-content.paragraph__image--align-left .field--name-field-paragraph-text p:only-of-type,
.paragraph--type--paragraph-text.paragraph__image--align-left .field--name-field-paragraph-text p:last-child,
.paragraph--type--paragraph-text.paragraph__image--align-left .field--name-field-paragraph-text p:only-of-type {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .paragraph--type--paragraph-content.paragraph__image--align-left .field--name-field-teaser-image,
.paragraph--type--paragraph-text.paragraph__image--align-left .field--name-field-teaser-image {
    margin-right: 2rem;
  }
}
.paragraph--type--paragraph-content.paragraph__image--align-right,
.paragraph--type--paragraph-text.paragraph__image--align-right {
  text-align: left;
}
@media (min-width: 768px) {
  .paragraph--type--paragraph-content.paragraph__image--align-right .field--name-field-paragraph-text,
.paragraph--type--paragraph-text.paragraph__image--align-right .field--name-field-paragraph-text {
    margin-right: 2rem;
  }
}
@supports (display: flex) {
  .paragraph--type--paragraph-content.paragraph__image--align-right .field--name-field-teaser-image,
.paragraph--type--paragraph-text.paragraph__image--align-right .field--name-field-teaser-image {
    order: 2;
  }
}
@supports (display: flex) {
  .paragraph--type--paragraph-content,
.paragraph--type--paragraph-text {
    display: flex;
    flex-wrap: wrap;
  }
  .paragraph--type--paragraph-content .field--name-field-para-title,
.paragraph--type--paragraph-text .field--name-field-para-title {
    flex: 1 0 100%;
  }
  .paragraph--type--paragraph-content.paragraph__image--align-left .field--name-field-paragraph-text, .paragraph--type--paragraph-content.paragraph__image--align-right .field--name-field-paragraph-text,
.paragraph--type--paragraph-text.paragraph__image--align-left .field--name-field-paragraph-text,
.paragraph--type--paragraph-text.paragraph__image--align-right .field--name-field-paragraph-text {
    order: 2;
  }
  @media (min-width: 768px) {
    .paragraph--type--paragraph-content.paragraph__image--align-left .field--name-field-paragraph-text, .paragraph--type--paragraph-content.paragraph__image--align-right .field--name-field-paragraph-text,
.paragraph--type--paragraph-text.paragraph__image--align-left .field--name-field-paragraph-text,
.paragraph--type--paragraph-text.paragraph__image--align-right .field--name-field-paragraph-text {
      flex: 1 0 300px;
    }
  }
  .paragraph--type--paragraph-content.paragraph__image--align-left .field--name-field-teaser-image, .paragraph--type--paragraph-content.paragraph__image--align-right .field--name-field-teaser-image,
.paragraph--type--paragraph-text.paragraph__image--align-left .field--name-field-teaser-image,
.paragraph--type--paragraph-text.paragraph__image--align-right .field--name-field-teaser-image {
    order: 1;
  }
  @media (min-width: 768px) {
    .paragraph--type--paragraph-content.paragraph__image--align-left .field--name-field-teaser-image, .paragraph--type--paragraph-content.paragraph__image--align-right .field--name-field-teaser-image,
.paragraph--type--paragraph-text.paragraph__image--align-left .field--name-field-teaser-image,
.paragraph--type--paragraph-text.paragraph__image--align-right .field--name-field-teaser-image {
      flex: 0 1 300px;
    }
  }
}

.paragraph--type--teaser-item h3 {
  margin: 0.5rem 0;
  font-size: 1.125rem;
  line-height: 1.2;
}
.paragraph--type--teaser-item h3 a {
  display: block;
  font-weight: 600;
}
.paragraph--type--teaser-item h3 a:hover,
.paragraph--type--teaser-item h3 a:focus {
  text-decoration: underline;
}

.cd-layout-main-content .paragraph--type--section-menu > .cd-sidebar__label,
.cd-layout-main-content .paragraph--type--twitter > .cd-sidebar__label,
.cd-layout-main-content .paragraph--type--reliefweb-feed > h2,
.cd-layout-main-content .paragraph--type--list > h2,
.cd-layout-main-content .paragraph--type--teaser-grid > h2,
.cd-layout-main-content .paragraph--type--paragraph-content > .field--name-field-para-title,
.cd-layout-main-content .paragraph--type--content-item .field--name-field-para-title,
.cd-layout-main-content .paragraph--type--video .field--name-field-para-title,
.cd-layout-main-content .paragraph--type--paragraph-text .field--name-field-para-title,
.cd-layout-main-content .paragraph--type--contact-list > .field--name-field-contacts > .field__label,
.cd-layout-main-content .paragraph--type--contact-list .field--name-field-list-title {
  margin-top: 0;
}
.cd-layout-sidebar-first .paragraph--type--teaser-item,
.cd-layout-sidebar-first .paragraph--type--twitter,
.cd-layout-sidebar-first .paragraph--type--content-item,
.cd-layout-sidebar-first .paragraph--type--paragraph-content {
  margin-bottom: 2rem;
}
.cd-layout-sidebar-first > .field__items > .field__item {
  margin-bottom: 2rem;
}

.cd-layout-main-content > .field__items > .field__item {
  margin-bottom: 2rem;
}

.cd-layout-sidebar-first .cd-sidebar__label,
.cd-layout-sidebar-first .paragraph--type--list > h2,
.cd-layout-sidebar-first .paragraph--type--teaser-grid > h2 {
  margin-top: 0;
}

.paragraph--type--contact-list > .field--name-field-contacts > .field__items {
  padding: 1rem 0;
}

.paragraph--type--contact-list > .field--name-field-contacts > .field__items > .field__item {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.paragraph--type--agenda-items {
  margin-bottom: 2rem;
}

.paragraph--type--view {
  clear: both;
}

aside .paragraph--type--content-item .node--view-mode-teaser .cd-teaser__image,
aside .paragraph--type--content-item .group--view-mode-teaser .cd-teaser__image {
  max-width: 100%;
}
aside .paragraph--type--content-item .node--view-mode-teaser .field__label,
aside .paragraph--type--content-item .group--view-mode-teaser .field__label {
  margin-bottom: 0;
  padding-bottom: 0;
  color: currentColor;
  border-bottom: 1px none #272e67;
  font-size: inherit;
}

.cd-layout-sidebar-first .paragraph--type--content-item .field--name-field-category {
  margin-bottom: 1rem !important;
}

.cd-layout-sidebar-first .paragraph--type--teaser-grid .cd-grid > * {
  flex: 0 0 100%;
}
.cd-layout-sidebar-first .paragraph--type--teaser-grid .cd-grid .field--type-entity-reference-revisions .paragraph--type--teaser-item {
  padding: 0;
}

@supports (display: grid) {
  .cd-layout-sidebar-first .paragraph--type--teaser-grid .cd-grid {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}
.cd-layout-sidebar-first .paragraph--type--teaser-grid .field__item:last-child .paragraph--type--teaser-item {
  margin-bottom: 0;
}

.addressHighlight .address {
  width: 300px;
  padding: 20px;
  color: var(--cd-white);
  background-color: #272e67;
}
.addressHighlight .address h3 {
  margin-top: 0;
  color: var(--cd-white);
}
.addressHighlight .address a {
  color: #fff;
}
.addressHighlight .address p {
  margin-bottom: 0;
  color: #eee;
}
.addressHighlight.geneva {
  background: url("../img/map-geneva.png") no-repeat top right;
}
.addressHighlight.nyc {
  background: url("../img/map-nyc.png") no-repeat top right;
}

.link-to-group {
  padding-left: 1.5rem;
  background-image: url("../img/icons/arrow-back.svg");
  background-repeat: no-repeat;
  background-position: top 9px left 0;
  background-size: 9px 9px;
}

.select2-container--default .select2-search--inline .select2-search__field {
  width: auto !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  white-space: normal;
}

.select2-container--focus,
.select2-container--open {
  outline: 2px solid var(--cd-blue--bright) !important;
}

.taxonomy-term .field {
  margin-bottom: 1rem;
}

.path-taxonomy .view-header {
  margin-bottom: 3rem;
}

.profile .field,
.profile .flag {
  margin-bottom: 1rem;
}

.viewsreference--view-title {
  margin-top: 0;
}
.cd-layout-sidebar-first .viewsreference--view-title {
  margin-top: 0;
}

@media (min-width: 1200px) {
  .view-updates .view-header,
.view-iasc-group-content .view-header {
    padding-right: 0;
  }
}

.cd-layout-sidebar-first .views-exposed-form .form--inline {
  margin-bottom: 1rem;
}
.view-iasc-group-content .views-exposed-form .cd-form--inline .form-item,
.view-iasc-group-content .views-exposed-form .cd-form--inline .form-actions,
.view-search-content .views-exposed-form .cd-form--inline .form-item,
.view-search-content .views-exposed-form .cd-form--inline .form-actions,
.view-updates .views-exposed-form .cd-form--inline .form-item,
.view-updates .views-exposed-form .cd-form--inline .form-actions,
.view-resources .views-exposed-form .cd-form--inline .form-item,
.view-resources .views-exposed-form .cd-form--inline .form-actions,
.view-iasc-services .views-exposed-form .cd-form--inline .form-item,
.view-iasc-services .views-exposed-form .cd-form--inline .form-actions {
  margin: 0;
}
.view-iasc-group-content .views-exposed-form .cd-form--inline label,
.view-search-content .views-exposed-form .cd-form--inline label,
.view-updates .views-exposed-form .cd-form--inline label,
.view-resources .views-exposed-form .cd-form--inline label,
.view-iasc-services .views-exposed-form .cd-form--inline label {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.region-facets .block-search h2,
.region-sidebar-first .block-search h2,
.region-sidebar-second .block-search h2 {
  margin-top: 0;
}
.region-facets form .cd-form--inline label,
.region-sidebar-first form .cd-form--inline label,
.region-sidebar-second form .cd-form--inline label {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}
.region-facets form .cd-form--inline .form-item,
.region-facets form .cd-form--inline .form-actions,
.region-sidebar-first form .cd-form--inline .form-item,
.region-sidebar-first form .cd-form--inline .form-actions,
.region-sidebar-second form .cd-form--inline .form-item,
.region-sidebar-second form .cd-form--inline .form-actions {
  margin-top: 0;
  margin-bottom: 0;
}
.region-facets form .cd-form--inline .form-item input[type=text],
.region-facets form .cd-form--inline .form-actions input[type=text],
.region-sidebar-first form .cd-form--inline .form-item input[type=text],
.region-sidebar-first form .cd-form--inline .form-actions input[type=text],
.region-sidebar-second form .cd-form--inline .form-item input[type=text],
.region-sidebar-second form .cd-form--inline .form-actions input[type=text] {
  padding: 0.25rem 0.5rem;
}
@media (min-width: 1024px) {
  .region-facets form .cd-form--inline .form-item input[type=text],
.region-facets form .cd-form--inline .form-actions input[type=text],
.region-sidebar-first form .cd-form--inline .form-item input[type=text],
.region-sidebar-first form .cd-form--inline .form-actions input[type=text],
.region-sidebar-second form .cd-form--inline .form-item input[type=text],
.region-sidebar-second form .cd-form--inline .form-actions input[type=text] {
    padding: 0.5rem;
  }
}
@media (min-width: 1024px) {
  .region-facets form .cd-form--inline .form-item,
.region-facets form .cd-form--inline .form-actions,
.region-sidebar-first form .cd-form--inline .form-item,
.region-sidebar-first form .cd-form--inline .form-actions,
.region-sidebar-second form .cd-form--inline .form-item,
.region-sidebar-second form .cd-form--inline .form-actions {
    flex: 1 0 100%;
  }
}
.region-facets form .cd-form--inline .form-text,
.region-sidebar-first form .cd-form--inline .form-text,
.region-sidebar-second form .cd-form--inline .form-text {
  width: 100%;
}
.region-facets form .cd-form--inline .form-text:focus,
.region-sidebar-first form .cd-form--inline .form-text:focus,
.region-sidebar-second form .cd-form--inline .form-text:focus {
  outline: 2px solid var(--cd-blue--bright);
}
.region-facets form .cd-form--inline .form-actions input[type=submit],
.region-sidebar-first form .cd-form--inline .form-actions input[type=submit],
.region-sidebar-second form .cd-form--inline .form-actions input[type=submit] {
  width: 100%;
}
@media (min-width: 576px) {
  .region-facets form .cd-form--inline .form-actions input[type=submit],
.region-sidebar-first form .cd-form--inline .form-actions input[type=submit],
.region-sidebar-second form .cd-form--inline .form-actions input[type=submit] {
    max-width: 16rem;
  }
}
@media (min-width: 1024px) {
  .region-facets form .cd-form--inline .form-actions input[type=submit],
.region-sidebar-first form .cd-form--inline .form-actions input[type=submit],
.region-sidebar-second form .cd-form--inline .form-actions input[type=submit] {
    width: 100%;
    max-width: 100%;
    max-width: unset;
  }
}
@media (min-width: 1024px) {
  .region-facets form .cd-form--inline,
.region-sidebar-first form .cd-form--inline,
.region-sidebar-second form .cd-form--inline {
    flex-wrap: wrap;
  }
}

@media (min-width: 576px) {
  .views-table .views-field-field-service-coverage {
    width: 30%;
  }
}

@media (max-width: 575px) {
  .cd-table--responsive td.views-field-field-share-data {
    min-height: 8rem;
  }

  .cd-table--responsive td.views-field-field-service-coverage {
    min-height: 4rem;
  }
}
.view-header > p {
  margin-top: 0;
}

@media (max-width: 1023px) {
  .view-iasc-services .view-header h2 {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--cd-blue-grey);
  }
}
.view-iasc-services .pager {
  margin-bottom: 4rem;
}
@media (min-width: 1024px) {
  .view-iasc-services .pager {
    margin-bottom: 6rem;
  }
}

.more-link {
  display: block;
  text-align: right;
}

.view-filters {
  margin-bottom: 2rem;
}

.cd-grid--2-col .cd-teaser__container {
  margin-top: 0;
}
@media (min-width: 768px) {
  .cd-grid--2-col .view-content .views-row {
    margin-top: 0;
    padding-left: 0.5rem;
  }
  .cd-grid--2-col .view-content .views-row:nth-child(2n+1) {
    padding-right: 0.5rem;
    padding-left: 0;
  }
}

.cd-pager__item.is-active a {
  background-color: #272e67;
}

.cd-pager__item a:hover,
.cd-pager__item a:focus {
  background-color: #145f7b;
}

/*# sourceMappingURL=styles.css.map */
