h1,
h2,
h3,
h4,
h5 {
  color: var(--brand-primary);
}

a {
  color: var(--iasc-secondary);
}
a:hover,
a:focus {
  text-decoration: none;
  color: var(--brand-primary);
}

@media (min-width: 1200px) {
  [dir="ltr"] .cd-layout-with-sidebar .cd-page-title{
    padding-right: 320px; /* --cd-max-width minus padding, minus --cd-max-content-width */
  }

  [dir="rtl"] .cd-page-title {
    padding-left: 320px;
  }

  .cd-layout-with-sidebar-first .cd-page-title,
  .cd-layout-with-sidebar-second .cd-page-title,
  .cd-layout-with-sidebar-both .cd-page-title {
    padding-right: 0;
    padding-left: 0;
  }
}
