.cd-user-menu__item::after {
  background: var(--cd-white);
}

.cd-user-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cd-user-menu li {
  position: relative;
  float: left;
}

.cd-user-menu--no-language-switcher li:last-child a {
  padding-right: 0;
}

.cd-user-menu--no-language-switcher li:last-child a::after {
  content: none;
}

.cd-global-header .menu > li a::after {
  content: none;
}
