.cd-styled-list {
  padding: 0;
}

.cd-styled-list__image img {
  width: 100%;
  height: auto;
}

/* Override the generic .cd-layout__sidebar--first ul */
.cd-layout__sidebar--first .cd-styled-list li {
  margin-top: 0;
}
