.cd-grid > .field__item {
  margin-bottom: 0;
}

.cd-grid-3-col .views-row article > h3 {
  text-transform: unset;
}

.cd-grid-3-col .views-row article footer {
  margin-right: -1rem;
  margin-left: -1rem;
  padding: 1rem;
  background-color: var(--cd-blue-grey--dark);
}

.cd-layout-content .cd-grid--3-col .views-row,
.cd-layout-highlighted .cd-grid--3-col .views-row {
  background-color: var(--cd-blue-grey);
}

.cd-grid > * .node__content:not(:empty) {
  padding: 0 0 1rem;
}

/* Grid Layout overrides for Featured on mobile */
@media (max-width: 575px) {
  .cd-grid--4-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .cd-grid--4-col > * {
    flex: 0 0 48%;
  }

  @supports (display: grid) {
    .cd-grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(100px, 1fr));
      grid-gap: 1rem;
    }
  }
}
