{% embed 'node--full.html.twig' %}

  {% block section %}
    <div class="cd-layout-two-col">

      <div class="cd-layout-main-content">
        {{ content|without('field_content', 'field_sidebar', 'field_footer', 'field_featured_categories') }}
        {{ content.field_content }}
      </div>

      <aside class="cd-layout-sidebar-first" role="complementary">
        {{ content.field_featured_categories }}
        {{ content.field_sidebar }}
      </aside>

    </div>
  {% endblock %}

{% endembed %}

