{% embed 'node--full.html.twig' %}

  {% block section %}
    <div class="cd-layout">
      <div class="cd-layout__content">
        {{ content|without('field_content', 'field_sidebar', 'field_footer', 'field_featured_categories') }}
        {{ content.field_content }}
      </div>

      <aside class="cd-layout__sidebar">{{ content.field_featured_categories }}{{ content.field_sidebar }}</aside>
    </div>
  {% endblock %}

{% endembed %}

