//——————————————————————————————————————————————————————————————————————————————
// Common Design: Soft Footer
//
// Optional space for a CTA, newsletter sign-up, etc
//——————————————————————————————————————————————————————————————————————————————

.cd-soft-footer {
  background: rgba($iasc-primary, 0.9);

  .button {
    background: $iasc-red;
    color: $iasc-primary;
    padding: 10px 12px;
    margin-top: 1rem;

    @include tablet {
      margin-top: 0;
    }

    &:hover,
    &:focus {
      background: darken($iasc-red, 5%);
    }
  }
}

@include tablet {
  .cd-soft-footer__inner {
    justify-content: flex-start;

    form {
      margin-left: 20px;
    }
  }
}
