//——————————————————————————————————————————————————————————————————————————————
// Common Design: Soft Footer
//
// Optional space for a CTA, newsletter sign-up, etc
//——————————————————————————————————————————————————————————————————————————————

.cd-soft-footer {
  background: rgba($iasc-primary, 0.9);

  .button {
    padding: 10px 12px;
    text-transform: uppercase;
    color: $iasc-primary;
    background: $iasc-red;
    font-weight: 700;

    &:hover,
    &:focus {
      background: darken($iasc-red, 5%);
    }

    @include tablet {
      margin-top: 0;
    }
  }
}

@include tablet {
  .cd-soft-footer__inner {
    justify-content: flex-start;

    form {
      margin-left: 20px;
    }

    input[type="email"] {
      padding: 0.25rem 0.5rem;
    }
  }
}
