//——————————————————————————————————————————————————————————————————————————————
// Common Design: Sites Menu ('OCHA Services')
//——————————————————————————————————————————————————————————————————————————————

.cd-ocha-dropdown__link {
  a {
    &:hover,
    &:focus {
      border-color: $cd-white;
    }
  }
}

a.cd-ocha-dropdown__see-all {
  color: $iasc-primary;
  background: $iasc-red;

  &:hover,
  &:focus {
    color: $iasc-primary-dark;
    background: rgba($iasc-red, 0.8);
  }
}
