//——————————————————————————————————————————————————————————————————————————————
// Common Design: Soft Footer
//
// Optional space for a CTA, newsletter sign-up, etc
//——————————————————————————————————————————————————————————————————————————————

.cd-soft-footer {
  background: rgba($iasc-primary, 0.9);

  .button {
    display: inline-block;
    background: $iasc-red;
    color: $iasc-primary;
    font-weight: bold;
    padding: 10px 12px;
    text-transform: uppercase;
    transition: background 0.3s ease;

    &:hover,
    &:focus {
      background: darken($iasc-red, 5%);
    }
  }
}

@include tablet {
  .cd-soft-footer__inner {
    justify-content: flex-start;

    form {
      margin-left: 20px;
    }
  }
}
