//——————————————————————————————————————————————————————————————————————————————
// Common Design: Search
//——————————————————————————————————————————————————————————————————————————————
.cd-search__btn {
  color: $iasc-primary;

  svg {
    fill: $iasc-primary;
  }

  &:hover,
  &:focus {
    color: $iasc-secondary;

    svg {
      fill: $iasc-secondary;
    }
  }

  &:focus {
    color: $iasc-highlight;

    svg {
      fill: $iasc-highlight;
    }
  }

  &[aria-expanded="true"] {
    color: $iasc-highlight;

    svg {
      fill: $iasc-highlight;
    }
  }
}

.cd-search__submit {
  background: $iasc-secondary;

  &:focus {
    background-color: $iasc-highlight;
  }
}
