//——————————————————————————————————————————————————————————————————————————————
// Common Design: Logo
//
// Replace images with your site logo.
//——————————————————————————————————————————————————————————————————————————————

.cd-site-logo {
  width: 100px;
  background: url('../img/logos/logo-mobile.svg') center no-repeat;
  background-size: contain;

  .no-svg & {
    background: url('../img/logos/logo.png') center no-repeat;
    background-size: contain;
    width: 220px;
  }
}

@include tablet {
  .cd-site-logo {
    background: url('../img/logos/logo.svg') center no-repeat;
    background-size: contain;
    width: 220px; // width may need to be adjusted depending on logo width.

    .no-svg & {
      background: url('../img/logos/logo.png') center no-repeat;
      background-size: contain;
    }
  }
}
