.viewsreference--view-title {
  font-weight: 700;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid $iasc-primary;

  .field--name-field-sidebar &,
  .field--name-field-content & {
    font-weight: 400;
  }
}
