.viewsreference--view-title {
  @extend .cd-heading-2;
  margin-top: 0;

  .cd-layout-sidebar-first & {
    @extend .cd-heading-3;
    margin-top: 0;
    //margin-top: 1.5rem;
  }
}

.view-header {
  .view-iasc-group-content & {
    @extend .page-title;

    @include xl {
      padding-right:0;
    }
  }
}
