//——————————————————————————————————————————————————————————————————————————————
// Typography
//——————————————————————————————————————————————————————————————————————————————

h2,
h3,
h4,
h5 {
  color: $iasc-primary;
}

a {
  color: $iasc-secondary;

  &:hover,
  &:focus {
    color: $iasc-primary;
    text-decoration: none;
  }
}

.cd-heading-2 {
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  color: $iasc-primary;
  border-bottom: 3px solid $cd-blue-grey;

  .path-frontpage & {
    font-size: 1.8rem;
    font-weight: 600;
  }
}

.cd-heading-3 {
  font-size: 1.125rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  color: $iasc-primary;
  border-bottom: 1px solid $iasc-primary;
}
