//——————————————————————————————————————————————————————————————————————————————
// Typography
//——————————————————————————————————————————————————————————————————————————————

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  font-weight: 600;
  color: $iasc-primary;
}

h1 {
  font-weight: 400;
  font-size: 1.875rem;
}

h2 {
  font-weight: 400;
  font-size: 1.5rem;

  .region-sidebar-first & {
    font-size: 1.125rem;
    font-weight: 600;
  }
}

h3 {
  font-size: 1.125rem;
}

h4,
h5 {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
ol,
dl {
  margin-bottom: $cd-base-unit;
}

.page-title {
  font-size: 1.875rem;
  font-weight: 600;
  margin-bottom: 2rem;
  padding-bottom: 0;
  border-bottom: 0 none;
  color: $iasc-primary;

  &::after {
    background-color: $iasc-highlight;
    content: '';
    display: block;
    height: 6px;
    margin: calc(1rem - 6px) auto 0 0;
    width: 80px;
  }

  @include min-width(sm) {
    font-size: 1.875rem;
  }
}

a {
  color: $iasc-secondary;

  &:hover,
  &:focus {
    color: $iasc-primary;
    text-decoration: none;
  }
}

ol {
  list-style: decimal;
}

em {
  font-style: italic;
}

u {
  text-decoration: none;
  font-weight: bold;
}

dt {
  font-weight: 400;
}

dd {
  margin-bottom: $cd-base-unit;
}

@include min-width(sm) {
  h1,
  h2,
  h3,
  h4,
  h5,
  ol,
  dl {
    margin-bottom: $cd-base-unit * 2;
  }
}

.cd-heading-2 {
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  color: $iasc-primary;
  border-bottom: 2px solid $cd-mid-bluey-grey;
}

.cd-heading-3 {
  font-size: 1.125rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  color: $iasc-primary;
  border-bottom: 1px solid $iasc-primary;
}
