//——————————————————————————————————————————————————————————————————————————————
// Typography
//——————————————————————————————————————————————————————————————————————————————

h1,
h2,
h3,
h4,
h5 {
  color: $iasc-primary;
}

a {
  color: $iasc-secondary;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $iasc-primary;
  }
}

.cd-heading-2 {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: $iasc-primary;
  border-bottom: 3px solid $cd-blue-grey;
  font-size: 1.5rem;
  font-weight: 400;

  .path-frontpage & {
    font-size: 1.8rem;
    font-weight: 600;
  }
}

.cd-heading-3 {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: $iasc-primary;
  border-bottom: 1px solid $iasc-primary;
  font-size: 1.125rem;
  font-weight: 600;
}

.cd-page-title {
  @include xl {
    .cd-layout-with-sidebar & {
      [dir="ltr"] & {
        padding-right: 320px; // --cd-max-width minus padding, minus --cd-max-content-width.
      }

      [dir="rtl"] & {
        padding-left: 320px;
      }
    }

    .cd-layout-with-sidebar-first &,
    .cd-layout-with-sidebar-second &,
    .cd-layout-with-sidebar-both & {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

//.cd-page-title {
//  font-size: 1.875rem;
//  font-weight: 600;
//  line-height: 1.5;
//  margin-top: 0;
//  margin-bottom: 2rem;
//  padding-bottom: 0;
//  border-bottom: 0 none;
//  color: $iasc-primary;
//
//  &::after {
//    background-color: $iasc-highlight;
//    content: '';
//    display: block;
//    height: 6px;
//    margin: calc(1rem - 6px) auto 0 0;
//    width: 80px;
//  }
//
//  @include min-width(sm) {
//    font-size: 1.875rem;
//  }
//
//  @include desktop {
//    margin-top: 1rem;
//  }
//}
