.field--name-field-agenda-items {
  > .field__label {
    font-size: 1.5rem;
    font-weight: 400;
    color: $iasc-primary;
    padding-bottom: 0.5rem;
    text-align: left;
    margin-bottom: 1rem;
    border-bottom: 2px solid $cd-mid-bluey-grey;
  }

  .field__item {
    margin-bottom: 1rem;
  }
}

.field--name-field-ai-title {
  margin-bottom: 1rem;
  font-weight: bold;
}
