.group--view-mode-full,
.node--view-mode-full {

  .field {
    margin-bottom: 1rem;
  }

  .field--label-inline {
    overflow: hidden;
  }
}

.field--name-field-ai-title {
  @extend .cd-heading-3;
  margin-bottom: 1rem;
  font-weight: bold;
}

.field--name-field-content .field--type-viewsreference {
  margin-bottom: 2rem !important;
}

// WYSIWYG body field on nodes.
.field--name-field-description {
  margin-bottom: 2rem;
}

.group--view-mode-search-result .field--name-field-description {
  margin-bottom: 0;
}

.field--name-field-meeting-notes,
.field--name-field-meeting-agendas,
.field--name-field-oa-section,
.field--name-field-iasc-audience,
.field--name-field-links,
.field--name-field-membership,
.field--name-group-content-access,
.field--name-field-ap-responsibility,
.field--name-field-host,
.field--name-field-agenda-items,
.field--name-field-iasc-group-space,
.field--name-field-info-private,
.field--name-field-oa-media,
.field--name-field-main-image,
.field--name-field-media-files {
  margin-bottom: 2rem !important;

  > .field__label {
    @extend .cd-heading-2;
    //margin-top: 0;
  }

  .field__item {
    margin-bottom: 1rem;
  }
}

.cd-layout-sidebar-first {
  .cd-location,
  .field--name-field-contact,
  .field--name-field-meeting-notes,
  .field--name-field-meeting-agendas,
  .field--name-field-oa-section,
  .field--name-field-iasc-audience,
  .field--name-field-links,
  .field--name-field-membership,
  .field--name-field-date-closed,
  .field--name-field-external-link,
  .field--name-group-content-access,
  .field--name-field-ap-responsibility,
  .field--name-field-referenced-docs,
  .field--name-field-host,
  .field--name-field-category {
    margin-bottom: 2rem !important;

    > .field__label,
    .cd-sidebar__label {
      @extend .cd-heading-3;
      //margin-top: 1.5rem;
    }
  }

  // Margin resets because nested fields are hard.
  .node--view-mode-bio-long .field--name-field-organisation,
  .node--view-mode-bio-short .field--name-field-organisation {
    margin-bottom: 0 !important;
  }
}

// Margin resets because nested fields are hard.
.node--view-mode-bio-long .field,
.node--view-mode-bio-short .field,
.node--type-contact .field--name-field-organisation,
.node--type-contact .field--name-field-position,
.node--type-contact .field--name-field-email {
  margin-bottom: 0;
}

.cd-layout-sidebar-first > .cd-sidebar {
  margin-bottom: 1rem !important;
}

.field--name-field-referenced-docs > .field__label {
  margin-bottom: 1rem;
}

// Banner caption.
.field--name-field-banner-text,
.field--name-field-oa-banner-text  {
  text-align: right;
  font-size: 0.9rem;
  font-style: italic;
  margin-top: -1rem; // assumes banner_image field has bottom margin.
}

// This emulates the cd-bullet-list component using CSS bg image instead of SVG element in markup.
.field--name-field-links,
.field--name-field-referenced-docs,
.field--name-field-iasc-group-space,
.field--name-field-oa-related-content,
.field--name-field-links-to-relevant-docs {
  .field__item a {
    display: block;
    margin-bottom: 1rem;
    position: relative;
  }

  .field__item a::before {
    display: inline-block;
    height: 9px;
    width: 9px;
    margin-right: 1rem;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%5C %3Cpath fill='%23ff4d59' d='M14,48a4,4,0,0,1-2.83-6.83L28.34,24,11.17,6.83a4,4,0,0,1,5.66-5.66l20,20a4,4,0,0,1,0,5.66l-20,20A4,4,0,0,1,14,48Z'/%3E%5C %3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

// This emulates the cd-bullet-list component using CSS bg image instead of SVG element in markup.
.field--name-field-services,
.field--name-field-interest,
.field--name-field-kind-of-data,
.field--name-field-relevant-hpc-stage,
.field--name-field-service-coverage-region {
  .field__items {
    .field__item {
      display: block;
      margin-bottom: 1rem;
      position: relative;
    }

    .field__item::before {
      display: inline-block;
      height: 9px;
      width: 9px;
      margin-right: 1rem;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%5C %3Cpath fill='%23ff4d59' d='M14,48a4,4,0,0,1-2.83-6.83L28.34,24,11.17,6.83a4,4,0,0,1,5.66-5.66l20,20a4,4,0,0,1,0,5.66l-20,20A4,4,0,0,1,14,48Z'/%3E%5C %3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
}

// This emulates the cd-bullet-list component using CSS bg image instead of SVG element in markup.
.field--name-field-examples-and-case-studies {
  .field__item ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .field__item ul li {
    display: block;
    margin-bottom: 1rem;
    position: relative;
  }

  .field__item ul li::before {
    display: inline-block;
    height: 9px;
    width: 9px;
    margin-right: 1rem;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%5C %3Cpath fill='%23ff4d59' d='M14,48a4,4,0,0,1-2.83-6.83L28.34,24,11.17,6.83a4,4,0,0,1,5.66-5.66l20,20a4,4,0,0,1,0,5.66l-20,20A4,4,0,0,1,14,48Z'/%3E%5C %3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

// This emulates the cd-bullet-list component without being able to output as a ul.
.field--name-field-meeting-notes > .field__items > .field__item,
.field--name-field-meeting-agendas > .field__items > .field__item {
  padding-bottom: 1rem;
}

aside .field--name-field-meeting-agendas > .field__items > .field__item {
  padding-bottom: 0;
}

aside .field--name-field-meeting-agendas .field__items .field__item .field--name-field-published-date .field__item {
  margin-bottom: 0;
}

.field--name-field-meeting-notes svg,
.field--name-field-meeting-agendas svg {
  fill: var(--iasc-highlight);
  width: 9px;
  height: 9px;
  display: inline-block;
  margin-right: 1rem;
}

// Multiple members separated by hr.
.field--name-field-membership > .field__items > .field__item + .field__item,
.field--name-field-contact > .field__items > .field__item + .field__item,
.field--name-field-contacts > .field__item + .field__item {
  margin: 1rem 0;
  padding-top: 1rem;
  border-top: 1px solid $cd-blue-grey;
}

.field__item p:first-child {
  margin-top: 0;
}

// Emulate circle bullet list on fields that are not ul elements.
//.field--name-field-interest {
//  > .field__items {
//    margin: 1rem 0;
//    padding-left: 1.5rem;
//
//    > .field__item::before {
//      content: "•";
//      vertical-align: middle;
//      font-size: 1.5rem;
//      line-height: 1.2;
//      padding-right: 0.5rem;
//    }
//  }
//}


// Classy field.css styles.
.field__label {
  font-weight: bold;
}

.field--label-inline .field__label,
.field--label-inline .field__items {
  float: left; /* LTR */
}

.field--label-inline .field__label,
.field--label-inline > .field__item,
.field--label-inline .field__items {
  padding-right: 0.5em;
}

[dir="rtl"] .field--label-inline .field__label,
[dir="rtl"] .field--label-inline .field__items {
  padding-right: 0;
  padding-left: 0.5em;
}

.field--label-inline .field__label::after {
  content: ":";
}

.field--name-field-summary-of-recommendat,
.field--name-field-description-implementation,
.field--name-body.field--type-text-with-summary {
  max-width: var(--cd-max-content-width);
}

.field--name-field-email a {
  word-break: break-word;
}
