// Hide page title on homepage
.path-frontpage .page-title {
  display: none;
}

.cd-page-title {
  margin-top: 2rem;

  @include tablet {
    margin-top: 3rem; // Matches main.cd-container.
  }

  .path-frontpage & {
    margin-top: 0;
  }
}

.page-title {
  @include xl {
    padding-right: calc(285px + 3rem); // width of sidebar plus content div right margin.
  }
}

.view-header .page-title {
  @include xl {
    padding-right: 0;
  }
}
