// Hide page title on homepage
.path-frontpage .page-title {
  display: none;
}

.page-title {
  @include xl {
    padding-right: calc(285px + 3rem); // width of sidebar plus content div right margin.
  }
}

.view-header .page-title {
  @include xl {
    padding-right: 0;
  }
}
