.addressHighlight {
  .address {
    background-color: $iasc-primary;
    padding: 20px;
    color: $cd-white;
    width: 300px;

    h3 {
      color: $cd-white;
      margin-top: 0;
    }

    a {
      color: #fff;
    }

    p {
      margin-bottom: 0;
      color: #eee;
    }
  }

  &.geneva {
    background: url('../img/map-geneva.png') no-repeat top right;
  }

  &.nyc {
    background: url('../img/map-nyc.png') no-repeat top right;
  }
}
