.addressHighlight {
  .address {
    width: 300px;
    padding: 20px;
    color: $cd-white;
    background-color: $iasc-primary;

    h3 {
      margin-top: 0;
      color: $cd-white;
    }

    a {
      color: #fff;
    }

    p {
      margin-bottom: 0;
      color: #eee;
    }
  }

  &.geneva {
    background: url("../img/map-geneva.png") no-repeat top right;
  }

  &.nyc {
    background: url("../img/map-nyc.png") no-repeat top right;
  }
}
