.paragraph--type--hero,
.paragraph--type--teaser-item,
.paragraph--type--teaser-grid,
.paragraph--type--list-item,
.paragraph--type--list,
.paragraph--type--view,
.paragraph--type--twitter {
  .field {
    margin-bottom: 0;
  }
}


.paragraph--type--text-and-image {

  padding: 0 0 2rem;

  @include tablet {
    padding: 0 0 1rem;
  }

  // helper for @support testing
  //background: rgba(255, 0, 0, 0.1);

  .field--name-field-image {
    max-width: 300px;
  }

  h2,
  h3,
  p {
    margin-top: 0;
  }

  @supports (display: flex) {
    //background: rgba(0, 255, 0, 0.1);

    @include tablet {
      display: flex;
    }

    .field--name-field-image {
      @include tablet {
        flex: 1 0 auto;
      }
    }
  }

  @supports (display: grid) {
    //background: rgba(0, 0, 255, 0.1);
    @include tablet {
      display: grid;
      grid-template-columns: minmax(300px, 1fr) auto;
    }
  }

  &.paragraph__image--align-left {

    .field--name-field-image {
      @include tablet {
        float: left;
        margin-right: 2rem;
      }
    }

    @supports (display: grid) {
      @include tablet {
        grid-template-columns: minmax(300px, 1fr) 2fr;
      }
    }
  }

  &.paragraph__image--align-right {

    .field--name-field-image {
      @include tablet {
        float: right;
        margin-left: 2rem;
      }
    }

    @supports (display: flex) {

      .field--name-field-image {
        @include tablet {
          order: 2;
        }
      }
    }

    @supports (display: grid) {
      @include tablet {
        grid-template-columns: 2fr minmax(300px, 1fr);
      }
    }
  }

  &.paragraph__image--align-center {

    .field--name-field-image {
      margin: 0 auto;
      max-width: unset;
    }

    @supports (display: flex) {
      flex-wrap: wrap;

      .field--name-field-image {
        @include tablet {
          flex: 1 0 100%;
        }
      }
    }

    @supports (display: grid) {
      @include tablet {
        grid-template-columns: 1fr;
      }
    }
  }
}

.cd-layout-main-content .paragraph--type--teaser-grid {
  .field--type-entity-reference-revisions {
    @extend .grid-3-col;
  }

  .field--type-entity-reference-revisions .paragraph--type--teaser-item {
    @extend .grid-item;
    @extend .grid-item_article;
    padding: 0;
    margin-bottom: 1rem;
  }
}

.cd-layout-sidebar-first .paragraph--type--teaser-item {
  margin-bottom: 2rem;
}

.paragraph--type--section-menu > .cd-sidebar__label,
.paragraph--type--twitter > .cd-sidebar__label,
.paragraph--type--list > h2,
.paragraph--type--teaser-grid > h2 {

  .cd-layout-main-content & {
    @extend .cd-heading-2;
    margin-top: 0;
  }

  .cd-layout-sidebar-first & {
    @extend .cd-heading-3;
  }
}

.paragraph--type--contact-list > .field--name-field-contacts > .field__label,
.paragraph--type--contact-list .field--name-field-list-title {
  @extend .cd-heading-3;
}

.paragraph--type--contact-list > .field--name-field-contacts > .field__items {
  padding: 1rem 0;
}

.paragraph--type--contact-list > .field--name-field-contacts > .field__items > .field__item {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
