{% extends 'page.html.twig' %}

{% block attach %}
    {{ attach_library('common_design/cd-hero') }}
{% endblock %}

{% block hero %}
  <div class="layout-banner cd-container">

    {% include '@common_design/components/cd-hero.html.twig' %}

  </div>
{% endblock %}
