//——————————————————————————————————————————————————————————————————————————————
// Typography
//——————————————————————————————————————————————————————————————————————————————

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  font-weight: bold;
  color: $cd-ocha-blue;
}

h1 {
  color: $cd-ocha-blue;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
ol,
dl {
  margin-bottom: $cd-base-unit;
}


h4,
h5 {
  font-weight: 400;
}

.page-title {
  font-weight: 300;
  font-size: 1.875rem;
  margin-bottom: 3rem;
  color: $iasc-primary;

  &::after {
    background-color: $iasc-highlight;
    content: "";
    display: block;
    height: 6px;
    margin: calc(1rem - 6px) auto 0 0;
    width: 80px;
  }
}

a {
  color: $cd-dark-blue;

  &:hover,
  &:focus {
    color: $cd-ocha-blue;
    text-decoration: none;
  }
}

ol {
  list-style: decimal;
}

strong {
  font-weight: 400;
}

em {
  font-style: italic;
}

u {
  text-decoration: none;
  font-weight: bold;
}

dt {
  font-weight: 400;
}

dd {
  margin-bottom: $cd-base-unit;
}

@include min-width(sm) {

  h2 {
    font-weight: normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  ol,
  dl {
    margin-bottom: $cd-base-unit * 2;
  }
}
