{% embed '@common_design/cd/cd-header/cd-ocha.html.twig' %}

  {% block related_platforms %}
    <li class="cd-ocha-dropdown__link"><a href="http://www.deliveraidbetter.org">Peer 2 Peer</a></li>
    <li class="cd-ocha-dropdown__link"><a href="https://interagencystandingcommittee.org/grand-bargain-hosted-iasc">Grand Bargain</a></li>
  {% endblock %}

{% endembed %}
