{%
  set group_layout_classes = [
  'cd-container cd-layout-with-sidebar'
  ]
%}

{% embed 'page.html.twig' %}

  {% block main %}
    <main role="main" {{ attributes.addClass(group_layout_classes) }}>

      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

      <div class="cd-layout-content">
        {{ page.content }}
      </div>{# /.cd-layout-content #}

      {% if page.sidebar_first|render|striptags|trim %}
        <aside class="cd-layout-sidebar-first" role="complementary">
          {{ page.sidebar_first }}
        </aside>
      {% endif %}

    </main>
  {% endblock %}

{% endembed %}
