{% embed 'page.html.twig' %}

{% block attach %}
  {{ attach_library('common_design/cd-button') }}
{% endblock %}

  {% block main %}
    {# Link to skip to the main content is in html.html.twig #}
    <main role="main" {{ attributes.setAttribute('id', 'main-content').addClass(layout_classes) }}>

      <div class="cd-layout-content">

        <p>{% trans %}Sorry, the page you are looking for cannot be found.{% endtrans %}</p>

        <form action="/search" method="get" accept-charset="UTF-8">
          <div class="form--inline clearfix">
            <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-keys form-item-keys">
              <label for="edit-keys">Search</label>
              <input placeholder="What are you looking for?" type="text" id="cd-search" data-drupal-selector="edit-keys" name="keys" value="" size="30" maxlength="128">
            </div>
            <button data-twig-suggestion="search_submit" class="cd-button cd-button--style js-form-submit form-submit" value="Search" data-drupal-selector="edit-submit-search-content" type="submit" id="edit-submit-search-content">Search</button>
          </div>
        </form>

      </div>{# /.cd-layout-content #}

    </main>
  {% endblock %}

{% endembed %}
