.cd-layout-sidebar-first .cd-teaser__image {
  float: none;
}

.cd-layout-sidebar-first .cd-teaser__image + .cd-teaser__container {
  padding: 0;
}

.paragraph--type--featured h3.cd-teaser__title {
  font-size: 1.125rem;
  line-height: 1.2;
}

.paragraph--type--featured .cd-teaser__title a {
  font-weight: 600;
  display: block;
  text-decoration: none;
}

.paragraph--type--featured .cd-teaser__title a:hover,
.paragraph--type--featured .cd-teaser__title a:focus {
  text-decoration: underline;
}

.paragraph--type--featured .cd-teaser__image img {
  width: 100%;
}
