<figure class="cd-hero">
    <img class="cd-hero__image" src="/sites/default/files/2019-07/20181203-icrc-iasc-samuel_rubio-074-br.jpg" alt="Photo of IASC Principals">
    <figcaption class="cd-hero__container">
        <h3 class="cd-hero__title">
            IASC principals meeting
        </h3>
        <p class="cd-hero__description">Aliquam nisl enim&hellip; tristique tempus placerat at, posuere in lectus. Aliquam tincidunt velit sit amet <a href='#'>ante hendrerit</a> tempus.</p>
        <div class="cd-hero__footer">
            <div class="cd-hero__date">
                31 May 2018
            </div>
            <a class="cd-hero__link" href="#">
                Learn more
            </a>
        </div>
    </figcaption>
</figure>
